.THIS .container {
    padding: 0px 15px 0px 15px;
}
.THIS.borderTop{
    border-top:1px;
}
.THIS .container {
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    background: #FFF;
    padding-bottom: 20px;
}
.THIS .bold {
font-weight:bold;
}
.THIS .v-all-btn {
    position: relative;
    bottom: -28px;
    left: 15px;
}

.THIS tr, .THIS td {
    font-size: 12px;
}

.THIS .btn-wrapper {
    height: 80px;
   	text-align: center;
    padding-top: 20px;
}

.THIS .title-and-select {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: 18px;
    line-height: 40px;
}

.THIS .table-title {
    font-size: 16px;
    color: rgb(22, 50, 92);
}

.THIS .select-box {
	position: absolute;
	top: 14px;
	right: 10px;
}
/* ----------- iPad Pro" ----------- */
@media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .tableScroll {
        height: 900px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
}
/* ----------- iPad Pro" ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .tableScroll {
        height: 900px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .headerTitle{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
        margin-top:7px;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .tableScroll {
        height: 500px;
        overflow-y: scroll;
        padding-bottom:17rem;
    }
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    .THIS .tableScroll {
        height: 600px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
}
.THIS .slds-max-medium-table_stacked-horizontal th:before{
    text-transform:none;
}
.THIS .slds-max-medium-table_stacked-horizontal td:before{
    text-transform:none;
}


.THIS .centerEverywhere{
    text-align:center;
}
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation : landscape){
    .THIS .CenterAlign {
        text-align:center;
    }
    .THIS .RightAlign {
        text-align:right !important;
    }
    .THIS .LeftAlign {
        text-align:left;
    }
    .THIS .centerEverywhere{
        text-align:center;
    }    
}
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation : portrait){
    .THIS .centerEverywhere{
        text-align:right;
    }    
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .centerEverywhere{
        text-align:right;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    .THIS .centerEverywhere{
        text-align:right;
    }
}
.THIS .slds-max-medium-table_stacked-horizontal th:before{
    text-transform:none;
}
.THIS .slds-max-medium-table_stacked-horizontal td:before{
    text-transform:none;
}