.THIS{
    background-color: white;
}

.THIS .slds-has-dividers--around-space .slds-item {
    cursor: pointer;
}

.THIS .user-name {
    color: rgb(0, 95, 178);
}

.THIS .user-name:hover, .THIS .user-name:focus {
    color: rgb(0, 95, 178);
}

.THIS .card {
    width: 100%;
    height:100%;
}

.THIS .wrap-scroll {
    height: 100vh;
    max-height: 75%; 
    overflow-y: auto;
    /*padding-bottom: 50rem;
    width:100px;*/
}

.THIS .slds-hide{
	display: none;
}
.THIS .slds-show{
	display: block;
}

.THIS .slds-table--header{
    position: fixed;
    z-index: 10;
}

.THIS .uiImage{
    max-width:100%
}

.THIS .search-style{
    width: 50%;
}

@media screen and (max-width: 1024px){
    .THIS .search-style{
    width: 100%;
	}
    
    .THIS .card {
    padding: 0 2px;
    }
}