.THIS {
}

.THIS .sub_title{
    font-size: 1rem;
    line-heigth: 2rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #f4f6f9;
}

.THIS.componentHeader {
    position: fixed;
    width: 98%;
    left: 1.25%;
    /*top: 7.3rem;*/
    z-index: 1;
    background-color: rgb(255, 255, 255);
    margin: 0rem 0;
}

@media screen and (max-width: 1024px) {
    .THIS.componentHeader {
        position: fixed;
        /*width: 98%;*/
        left: 1%;
        /*top: 1rem;*/
        padding: 0px 2px;
        background-color: rgb(255, 255, 255);
    }
}