.THIS .slds-icon-custom-custom55{
    background-color:#f88962;
}
.THIS .wrapper {
    padding: 0 15px;

}
.THIS .fontSize {
 font-size:13px;
}
.THIS .bold {
font-weight:bold;
}
.THIS .wrapper {
 /*   border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    background: #FFF;
    !*height: 365px;*!
    padding-bottom: 20px;*/
}

.THIS .v-all-btn {
    position: relative;
    bottom: -28px;
    left: 15px;
}

.THIS tr, .THIS td {
    font-size: 12px;
}

.THIS .btn-wrapper {
    height: 80px;
   	text-align: center;
    padding-top: 20px;
}

.THIS .table-title {
    clear: both;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
}

.THIS .text {
	line-height: 30px;
	text-align: center;
}

.THIS .red {
    color: red;
}

.THIS .underline {
    text-decoration: underline;
}

.THIS .center {
    text-align: center;
}

.THIS .error-msg {
    color: rgb(166, 26, 20);
}

.THIS .slds-modal__footer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;

}

.THIS .slds-modal__header {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.THIS .header {
    line-height: 45px;
    font-weight: bold;
    font-size: x-large;
}

.THIS .slds-button {
    float: right;
}

.THIS .footer-blank {
    clear: both;
}

.THIS .red-text{
    color:red;
}

.THIS .mg40{
    margin-top:40px;
}

.THIS .title-and-select {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: 18px;
    line-height: 40px;
}
.THIS .align-right{
    display: flex;
    justify-content: flex-end
}
.THIS .slds-max-medium-table_stacked-horizontal th:before{
    text-transform:none;
}
.THIS .slds-max-medium-table_stacked-horizontal td:before{
    text-transform:none;
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .headerTitle{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
        margin-top:7px;
    }
    .THIS .tableScroll {
        height: 900px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
    .THIS .slds-page-header{
        border:none;
        border-bottom:1px solid rgb(221, 219, 218);
    }
    .THIS .tableScroll {
        height: 500px;
        overflow-y: scroll;
        padding-bottom:12rem;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
    .THIS .slds-page-header{
        border:none;
        border-bottom:1px solid rgb(221, 219, 218);
    }
    .THIS .tableScroll {
        height: 600px;
        overflow-y: scroll;
        padding-bottom:12rem;
    }  
}