.THIS .header-button{
    width: 100%;
    /*text-align: left;*/
}
.THIS .slds-modal__container{
    margin: 0 auto ;
    width: 100%;
    max-width: 60rem;
    min-width: 20rem
}

.THIS .filter-badge{
    position:absolute;
    margin-left:-10px;
    background-color: rgb(0, 95, 178);
    color: #FFF;
}