@media only screen and (max-width: 768px) {
    .THIS td .slds-dropdown{
        position: relative!important;
    }
}

.THIS .slds-max-medium-table_stacked-horizontal th:before, 
.THIS .slds-max-medium-table_stacked-horizontal td:before, 
.THIS .slds-max-medium-table--stacked-horizontal th:before, 
.THIS .slds-max-medium-table--stacked-horizontal td:before{
    text-transform: capitalize;
}

.THIS .grid-header{
    line-height: 1.25;
    color: rgb(112, 110, 107);
    letter-spacing: .0625rem;
}

.THIS .indicator-box{
    border: 1px solid #DDD;
    font-size: 14px;
    text-transform: uppercase;
    padding: 2px 4px;
}

.THIS .indicator-item{
    margin-top: 5px;
    font-weight: normal;
}

.THIS .indicator-item .icon{
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #FFF;
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
    width: 22px;
    color: #000;
    display: inline-block;
}
.THIS .indicator-body{
    display: none;
}

.THIS .indicator-icon:hover+.indicator-body{
    display: block;
}

.THIS .link-secondary {
     background:none!important;
     color:rgb(0, 109, 204);
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     /*border-bottom:1px solid #444; */
     cursor: pointer;
}
.THIS .innerDivWrapper {
    min-height: 101%;
    padding-bottom: 10px;
}