.THIS .wrapper {
    padding: 0px 15px 0px 15px;
}
.THIS .slds-icon-custom-custom98{
    background-color:#f88962;
}
.THIS .bold {
font-weight:bold;
}

.THIS .fontSize {
 font-size:13px;
}
.THIS .wrapper {
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    background: #FFF;
    /*height: 365px;*/
    padding-bottom: 20px;
    top:120px;
    position:fixed;
    height:82vh !important;
}

.THIS .v-all-btn {
    position: relative;
    bottom: -28px;
    left: 15px;
}

.THIS tr, .THIS td {
    font-size: 12px;
}

.THIS .btn-wrapper {
    height: 80px;
   	text-align: center;
    padding-top: 20px;
}

.THIS .table-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
}

.THIS .time {
}

.THIS .error-msg {
    color: rgb(166, 26, 20);
}

.THIS .bold-header{
    font-weight: 700;
}
.THIS .align-right{
    display: flex;
    justify-content: flex-end
}
.THIS .header-text{
    font-weight: bold;
    font-size: x-large;
    font-size: 1.25rem;
    line-height: 1.25;
    text-align: center;
    width:100%;
    border-bottom: 2px solid #d8dde6;
    margin-bottom:10px;
    padding: 20px;
}

.THIS .title-and-select {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: 18px;
    line-height: 40px;
}

.THIS .margin-top-20{
    margin-top:40px;
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    
 .THIS .wrapper {
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    background: #FFF;
    /*height: 365px;*/
    padding-bottom: 20px;
    position:fixed;
    height:82vh;
  }
    .THIS .headerTitle{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
        margin-top: 7px;
    }
     .THIS .tableScroll {
        height: 900px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }

}
.THIS .slds-max-medium-table_stacked-horizontal th:before{
    text-transform:none;
}
.THIS .slds-max-medium-table_stacked-horizontal td:before{
    text-transform:none;
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
    .THIS .slds-page-header{
        border:none;
        border-bottom:1px solid rgb(221, 219, 218);
    }
    .THIS .tableScroll {
        height: 500px;
        overflow-y: scroll;
        padding-bottom:12rem;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
    .THIS .slds-page-header{
        border:none;
        border-bottom:1px solid rgb(221, 219, 218);
    } 
     .THIS .tableScroll {
        height: 600px;
        overflow-y: scroll;
        padding-bottom:12rem;
    }  
}