.THIS .hide{
    display:none;
}
.THIS .customRequired{
    font-weight: 400;
    content: "*";
    display:inline;
}
.THIS .customRequired:before{    
    content: "*";
   /* display:inline;
    margin: 0 0.125rem 0 0.125rem;*/
    color: rgb(194, 57, 52);
    float: left;
}
.THIS .none{
    display:none;
}