.THIS .header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.THIS .normalPadding{
    padding-left: 20px;
    padding-bottom: 10px;
}
.THIS .custombutton{
    
    font-size: large;
    
    /*margin-left: 45%;*/
    width: 200px;
    /*margin-bottom: 20px;*/
    margin: 0 auto;
    margin-top: 30px;
}

.THIS .btn-wrapper {
    height: 80px;
    text-align: center;
    padding-top: 20px;
}
.THIS.hide-all{
    display: none;
}

.THIS .hide-all{
    display: none;
}

.THIS .bottom {
    height: 60px;
    position: relative;
}

.THIS .button-group {
    position: absolute;
    top: 20px;
}
.THIS .componentHeader {
    position: absolute;
    width: 95%;
    left: 1.25%;
    /*top: 7.3rem;*/
    z-index: 10;
    background-color: rgb(255, 255, 255);
}
/*.customScroll.THIS {
height:380px;
max-height: 380px;
overflow-y: auto;
}*/

/*IPHONE (landscape) ----------- */
/*@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) {
    .customScroll.THIS {
        height:267px;
        max-height: 267px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}*/
/*IPHONE (portrait) ----------- */
/*@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) {
    .customScroll.THIS {
        height:500px;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }  
}
*/

/* iPads (landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .customScroll.THIS {
        height:620px;
        max-height: 620px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}*/

/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .customScroll.THIS {
        height:910px;
        max-height: 910px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}*/
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS.tableScroll {
        height: 900px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .slds-gutters{
        margin-right:0px;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS.tableScroll {
        height: 500px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .slds-gutters{
        margin-right:0px;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    
    .THIS.tableScroll {
        height: 600px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .slds-gutters{
        margin-right:0px;
    }
}