<!-- to display Hybris records -->
<apex:page docType="html-5.0" standardController="Account">
	<c:mashupComponentMobileCard reqObjectName="Account" reqRecordType="Hybris" reqObjectId="{!Account.Id}" />
</apex:page>