<apex:page docType="html-5.0" standardController="Account_Profile__c">
    <c:mashupRecordInline reqObjectName="Account_Profile__c" reqObjectId="{!Account_Profile__c.Id}" reqMashup="Account Profile Report" />
</apex:page>