<apex:page docType="html-5.0" standardController="Opportunity" >
    <apex:includeLightning />
    <apex:includeScript value="/lightning/lightning.out.js" />
    <div id="lightning" />
    <script>    
        var oppId = '{!Opportunity.Id}';
        var myUserContext = "{!$User.UITheme}";
        $Lightning.use("c:AddProjectTeamApp", function() {
            $Lightning.createComponent("c:AddProjectTeam",
                                       {"listButton" : true,
                                        "UserContext" : myUserContext,
                                        "recordId": oppId
                                       },
                                       "lightning",
                                       function(cmp) {
                                           cmp.set("v.recordId", oppId);
                                       });
        });
    </script>
    
    <script>
        var s = document.createElement('style');
        s.innerHTML = "html,html body{overflow:auto;-webkit-overflow-scrolling:touch;}body{position:absolute;left:0;right:0;top:0;bottom:0;}";
        document.getElementsByTagName('head')[0].appendChild(s);
    </script>
</apex:page>