<apex:page showHeader="false" sidebar="false" lightningStylesheets="true" controller="AOO_CC">
    <apex:includeScript value="/lightning/lightning.out.js" />
    <apex:iframe src="{!viewURL}" scrolling="true" height="1024px"/>
</apex:page>