<apex:page docType="html-5.0" standardController="Event" lightningStylesheets="true">
    
    <apex:includeLightning />
    <apex:includeScript value="/lightning/lightning.out.js" />
    <div id="lightning" class="slds-text-align_left" style="height:100%"/>
    <script>    
    var recId = '{!Event.Id}';

    $Lightning.use("c:LightningOutAppForVF", function() {
        $Lightning.createComponent("c:DisplayAppointmentSAL",
                                   {"recordId" : recId},
                                   "lightning",
                                   function(component) {
                                   
                                   });
    });
    </script>
</apex:page>