<apex:page id="page" controller="LinkOpportunityController">
    <body style="overflow: unset !important;">
    <style>
        .msgIcon{
            display:none !important;
        }
        .messageCell{
        color:#fff !important;
        }
        .errorM3{
            background-color:#c23934 !important;
        
        }
        .slds li {
            color:#fff !important;
        }
        .slds h4{
            color:#fff !important;    
        }
        ul li, ol li {
            color:#fff !important;
        }
        .message .messageText h4{
            color:#fff !important;    
        }
        
        </style>
    <!-- Javascript -->
    <script type="text/javascript">
        

    function DisplayErrorMessage()
    {
       
        var quoteOppValue = document.getElementById("page:formL:selectopportunitytolink").value;
        console.log("Check DOne   0000000000000    " + quoteOppValue );
        if(quoteOppValue =='' || quoteOppValue == NULL || quoteOppValue == 'undefined'){
            console.log("Check DOne   1111111111111111");
            document.getElementById("msgDivForNoInput").style.display="block";
                
                return false;
            }
        else{
            //alert('Inside Else');
            console.log("Check DOne   2222222222222222");
            return true;
            }
        
    }
    
    </script>
    <script type="text/javascript">
        /*window.onload = function() { 
            document.getElementById("page:formL:message:j_id34:j_id35:1:j_id36").style.display="none";
        }
        var previousOnload = window.onload;
        window.onload = function() { 
            if (previousOnload) { 
                previousOnload();
            }
            init();
        }
        var j$ = jQuery.noConflict();
        j$(document).ready(function(){
            overridePageMessages();    
        });
        
        function overridePageMessages(){    
            var textureEffect = '';
            j$('.warningM3').addClass('slds-notify slds-notify--toast slds-theme--warning customMessage '+textureEffect);          
            j$('.confirmM3').addClass('slds-notify slds-notify--alert slds-theme--success  customMessage '+textureEffect);    
            j$('.errorM3').addClass('slds-notify slds-notify--alert slds-theme--error customMessage '+textureEffect);                  
            j$('.infoM3').addClass('slds-notify slds-notify--toast customMessage '+textureEffect);
            j$('.errorM3').removeClass('errorM3'); 
            j$('.confirmM3').removeClass('confirmM3'); 
            j$('.infoM3').removeClass('infoM3');   
            j$('.warningM3').removeClass('warningM3');  
        }*/
        
        </script>
<!-- Javascript -->
        
    <apex:form rendered="{!$User.UITheme == 'Theme3'}">
        <apex:pageMessages id="showmsg"></apex:pageMessages>
       <apex:pageBlock title="Select Opportunity">
           <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save"/>
               <apex:commandButton action="{!onCancel}" value="Cancel" />
            </apex:pageBlockButtons>
        <apex:pageBlockSection columns="2"> 
            <apex:inputField label="Select Opportunity To Link" id="Opportunity" value="{!quote.OpportunityId}" required="false"/>
        </apex:pageBlockSection>
           </apex:pageBlock>
        </apex:form>
    
    <apex:form styleClass="slds" id="formL" rendered="{!$User.UITheme != 'Theme3'}" >
             <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />  
                <div id="msgDivForNoInput" style="color: #ffffff; display: none; background-color:#c23934;" class="message slds-notify slds-notify--toast customMessage">Error: Please select Opportunity before saving</div>
                <div id="msgDiv" >
                     <apex:pageMessages id="message"></apex:pageMessages> 
                </div>
        
            <div class="slds-page-header">
                <div class="slds-media__figure slds-media__figure--reverse" >
                    <div class="slds-align--absolute-center">
                        
                        <apex:commandButton value="Save" onclick="return DisplayErrorMessage();" action="{!Save}"  styleClass="slds-button slds-button--brand" style="width:75px">
                        <!-- <apex:actionFunction name="Save" action="{!Save}" /> --> </apex:commandButton>
                        <apex:commandButton value="Cancel" action="{!onCancel}" styleClass="slds-button slds-button--brand" style="width:75px" />
                    </div>
                </div>                              
            </div>
            
            <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
                            <div class="slds-form--stacked slds-grow slds-scrollable--y1">
                                <p style="font-weight: bold;font-size:small;margin-left: 10px;float:left;">Select Opportunity</p>
                                <div class="slds-panel__section ">
                                    
                                    <!-- added by mohsin 04/05/2018 -->
                                    <div style="width:{!IF($User.UITheme == 'Theme4t','100%','40%')};padding:20px">
                                        <div class="slds-form-element" style="margin-bottom:10px">
                                            <div class="slds-form-element__control">  
                                                <apex:inputHidden value="{!quote.OpportunityId}" id="selectopportunitytolink" />
                                                <c:SLDSLookup FieldName="{!quote.OpportunityId}" FieldId="{!quote.OpportunityId}" SLDSResourceName="{!$Resource.rdcc__SLDS202}" ObjectApiName="Opportunity" DisplayFieldApiNames="Name" DisplayFieldsPattern="Name" LabelName="Select Opportunity To Link" SetValueToField="{!quote.OpportunityId}" SetIdField="{!quote.OpportunityId}" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- edit ends -->
                                    
                                </div>
                            </div>
                        </div>
    </apex:form>
        
    </body>
</apex:page>