<!--
<apex:page controller="MAMD_IndividualUserAJAXResources" contentType="application/json" showHeader="false" sidebar="false" standardStylesheets="false" action="{!determineActionToProcess}">

	 <apex:outputText escape="false" value="{!jsonOutput}"/> 
	 
</apex:page>
-->

<apex:page >
    <!--
        Deprecated     Deprecated     Deprecated     Deprecated     Deprecated     Deprecated
        Deprecated     Deprecated     Deprecated     Deprecated     Deprecated     Deprecated
        Deprecated     Deprecated     Deprecated     Deprecated     Deprecated     Deprecated
        Deprecated     Deprecated     Deprecated     Deprecated     Deprecated     Deprecated
        Deprecated     Deprecated     Deprecated     Deprecated     Deprecated     Deprecated
        Deprecated     Deprecated     Deprecated     Deprecated     Deprecated     Deprecated
        Deprecated     Deprecated     Deprecated     Deprecated     Deprecated     Deprecated
        Deprecated     Deprecated     Deprecated     Deprecated     Deprecated     Deprecated
    -->
</apex:page>