<apex:page docType="html-5.0" standardController="Mohawk_Account_Team__c" lightningStylesheets="true">
    
    <apex:includeLightning />
    <apex:includeScript value="/lightning/lightning.out.js" />
    <div id="lightningTest" class="slds-text-align_left" style="height:100%"/>
    <script>    
    var recId = '{!Mohawk_Account_Team__c.Id}';
    var myUserContext = "{!$User.UITheme}";
    $Lightning.use("c:mohawkAccountTeamCustomDetailApp", function() {
        $Lightning.createComponent("c:mohawkAccountTeamCustomDetail",
                                   {"recordId" : recId},
                                   "lightningTest",
                                   function(component) {
                                   
                                   });
    });
    </script>
</apex:page>