<apex:page controller="rdcc.InsightSystemIntegration" sidebar="false" docType="html-5.0" readOnly="true">
    
    <apex:outputPanel rendered="{!$CurrentPage.parameters.mode == 'cls'}">
        <apex:pageBlock title="{!$CurrentPage.parameters.rln}">
            <apex:pageBlockTable value="{!IF(searchType != 'company',insProject[relatedLists[$CurrentPage.parameters.rln]],insCompany['contacts'])}"  var="det" >                   
                <apex:repeat value="{!IF(searchType != 'company',attributes[$CurrentPage.parameters.rln],attributes['Contact Information'])}" var="f">                          
                    <apex:column headerValue="{!f.label}" >
                        <apex:outputPanel rendered="{!f.type =='CURRENCY'}">
                            <apex:outputText value="{0, Number, Currency}"><apex:param value="{!det[f.value]}" /></apex:outputText>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{! f.type !='CURRENCY'}">
                            <apex:outputText value="{!det[f.value]}"/>
                        </apex:outputPanel>
                        <apex:outputText rendered="{!OR(f.type =='DATE',f.type =='DATETIME')}" value="{0,date,dd/MM/yyyy}">
                            <apex:param value="{!det[f.value]}" />
                        </apex:outputText>
                    </apex:column>
                </apex:repeat>
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!$CurrentPage.parameters.mode == 'ltng'}">
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <head>
                <!--Start stylesheet-->
                <apex:slds />
                <style>
                    .slds-scope .slds-panel{
                    background:#fff !important;
                    }
                    .slds-scope .slds-table td, .slds-scope .slds-table th{
                    padding: .3rem !important;
                    }
                    @media only screen and (max-device-width: 768px){
                    .slds-medium-hide {
                    display: none !important;
                    }
                    }
                </style>
                
                <!--End stylesheet-->
                <!--Start Javscript-->
                <script>                
                function collapseSection(e){
                    if(e.classList.contains('slds-is-open')){
                        e.classList.remove('slds-is-open');
                    }else{
                        e.classList.add('slds-is-open')
                    }
                }
                </script>
                <!--End Javscript-->
            </head>            
            <body class="slds-scope">
                <div class="slds-page-header slds-page-header--object-home slds-fixed-header">
                    <div class="slds-grid">
                        <div class="slds-col slds-has-flexi-truncate">
                            <div class="slds-media slds-no-space slds-grow">
                                <div class="slds-media__figure">
                                    <span class="slds-icon_container">
                                        <svg class="slds-icon slds-icon-standard-lead" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom16')}"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-media__body">
                                    <h1 class="slds-page-header__title slds-p-right--x-small">
                                        <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                                            <span class="slds-truncate">{!IF(searchType != 'company','Insight Project','Insight Company')}</span>
                                        </span>        
                                    </h1>
                                    <p class="slds-text-title--caps slds-line-height--reset">{!$CurrentPage.parameters.rln}</p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
                    <div class="slds-form--stacked slds-grow">
                        <div class="slds-panel__section ">
                            <div class="slds-section slds-is-open" >
                                <h3 class="slds-section__title" onclick="collapseSection(this);">
                                    <button aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                        <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#switch')}" />
                                        </svg>
                                        <span class="slds-truncate" title="Section Title">{!$CurrentPage.parameters.rln}</span>
                                    </button>
                                </h3>
                                <div aria-hidden="false" class="slds-section__content" id="expando-unique-id">
                                    <table class="slds-table slds-no-row-hover slds-table_bordered">                                            
                                        <thead>
                                            <tr>
                                                <apex:variable value="{!1}" var="count"/>
                                                <apex:repeat value="{!IF(searchType != 'company',attributes[$CurrentPage.parameters.rln],attributes['Contact Information']) }" var="f">
                                                    
                                                    <th scope="col" class="slds-cell-wrap slds-show_small {!IF(count>2,"slds-medium-hide","nill")}">
                                                        <div class="slds-truncate" title="{!f.label}">{!f.label}</div>
                                                    </th>
                                                    <apex:variable value="{!(count+1)}" var="count"/>
                                                </apex:repeat>
                                            </tr>
                                        </thead>
                                        <tbody style="background: #fff;">                                                 
                                            <apex:repeat value="{!IF(searchType != 'company',insProject[relatedLists[$CurrentPage.parameters.rln]],insCompany['contacts'])}"  var="det">
                                                <tr>
                                                    <apex:variable value="{!1}" var="count"/>
                                                    <apex:repeat value="{!IF(searchType != 'company',attributes[$CurrentPage.parameters.rln],attributes['Contact Information']) }" var="f">
                                                        <td scope="row" class="slds-cell-wrap {!IF(count>2,"slds-medium-hide","nill")}">
                                                            <div class="slds-truncate" style="white-space: initial;">
                                                                <apex:outputPanel rendered="{!f.type =='CURRENCY'}">
                                                                    <apex:outputText value="{0, Number, Currency}">
                                                                        <apex:param value="{!det[f.value]}" />
                                                                    </apex:outputText>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel rendered="{!f.type !='CURRENCY'}">
                                                                    <apex:outputText value="{!det[f.value]}"/>
                                                                </apex:outputPanel>
                                                                <apex:outputText rendered="{!OR(f.type =='DATE',f.type =='DATETIME')}" value="{0,date,dd/MM/yyyy}">
                                                                    <apex:param value="{!det[f.value]}" />
                                                                </apex:outputText>
                                                            </div>
                                                        </td>
                                                        <apex:variable value="{!(count+1)}" var="count"/>
                                                    </apex:repeat>
                                                </tr>
                                            </apex:repeat>                                            
                                        </tbody>                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
        </html>
    </apex:outputPanel>
</apex:page>