<apex:page controller="rdcc.InsightProjectSearch" id="page" tabStyle="rdcc__ReedProject__c" docType="html-5.0" sidebar="false" readOnly="true" showheader="false">
    <div class="slds">
        <div class="slds-spinner_container" id="loading" style="display:none;">
            <div id="loading-content">
                <div role="status" class="slds-spinner slds-spinner--medium" style="top:350px;">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
    </div>
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery-1.11.1.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery.dataTables.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/jquery.dataTables.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/InsightProjectSearchPage_sf1.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />   
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/InsightProjectSearchPage_sf1.css')}"/>
     <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/SavedSearch.js')}"/>
     <script type="text/javascript">
                var __sfdcSessionId = '{!GETSESSIONID()}';
            </script>
            <script src="../../soap/ajax/36.0/connection.js" type="text/javascript"></script>
    <style>
        .slds .slds-spinner:before, .slds .slds-spinner:after, 
        .slds .slds-spinner__dot-a:before, .slds .slds-spinner__dot-b:before, 
        .slds .slds-spinner__dot-a:after, .slds .slds-spinner__dot-b:after{
            background:#0070d2 !important;
        }
    @media only screen and (min-device-width: 320px) and (max-device-width: 1824px) {
	.sidenav{padding-top:30px;}
}
    
    </style>    
    <script>
     var srchNameListView = "page:theForm:saveLV";
            var srchNameModalBox = "page:theForm2:srchName";
            var srchTextId = "page:theForm:searchText";
            var minProjectEstValueId= "page:theForm:minProjectValue";
            var maxProjectEstValueId= "page:theForm:maxProjectValue";
            var SLDS202 = '{!$Resource.SLDS202}';
    document.getElementById("loading").style.display='block';
    window.onload = function() {
        document.getElementById("loading").style.display='none';
    }
    country = '';
    state = '';
    county = '';
    stage = '';
    category = '';
    divisionCode = '';
    lastUpdatedDateRange = '';
    biddingDateRange = '';
    projectValueRange = '';
    searchText = '';
    listView = '';
    
    function customSearch(){
        getSelectedValue();
        searchServer(country,
                     state,
                     county,
                     stage,
                     category,
                     divisionCode,
                     lastUpdatedDateRange,
                     biddingDateRange,
                     projectValueRange,
                     searchText,
                     listView,
                     document.getElementById('page:theForm:srchName1').value);
        return false;
    }
    
   function validateData(minId,maxId,elementId,type,SLDS202){
        onClick();
        var isError = false;
        var errorMsg = '';         
        var minValue =  document.getElementById(minId).value;
        var maxValue =  document.getElementById(maxId).value;
        if((minValue == null || minValue == '')){
            minValue = '0';
        }
        if((maxValue == null || maxValue == '')){
            maxValue = '0';
        }
        if( document.getElementById(minId).value =='' && document.getElementById(maxId).value ==''){
            isError = true;
            errorMsg = 'Please provide value of atleast one field.';
        }
        if(type == 'Estimated Value'){          
            if(!minValue.match(/^\d+$/) || !maxValue.match(/^\d+$/)){
                isError = true;
                errorMsg = 'Only numeric value acceptable.';
            }
            if(parseInt(minValue) > parseInt(maxValue) && !(document.getElementById(maxId).value =='' || document.getElementById(maxId).value == null)){
                isError = true;
                errorMsg = 'Min must be smaller than Max.';
            }
            
        }else {
            if((document.getElementById(minId).value !='' && document.getElementById(maxId).value !='') &&(getTimeInMiliSecond(minValue) > getTimeInMiliSecond(maxValue))){                               
                isError = true;
                errorMsg = 'To date must be greater than from date';                
            }              
        }

        if(isError){
            onComplete();
            document.getElementById(elementId).style.display = 'block';
            document.getElementById(elementId).innerText = errorMsg;
        }
        else{
            closeNav();
            document.getElementById(elementId).style.display = 'none';
            if(type == 'Estimated Value'){
                createPillsForProjectEstValue('{!$Resource.SLDS202}');
                toggleSelectedDiv('selectedEstValueDiv','selectedEstValueContainer');
                
            }else if(type == 'Last Updated Date'){
                createPillsForLastUpdatedValue('{!$Resource.SLDS202}'); 
                toggleSelectedDiv('selectedLastUpdatedDateDiv','selectedLastUpdatedDateContainer');           
            }else if(type == 'Bidding Date'){
                createPillsForBidDateValue('{!$Resource.SLDS202}');
                toggleSelectedDiv('selectedBidDateDiv','selectedBidDateContainer');
            }
            return customSearch(); 
        }
        return false;
    }
    
    function getTimeInMiliSecond(s) {        
        var bits = s.split('/');        
        var d = new Date(bits[2],bits[0]-1,bits[1]);       
        return d.getTime();       
    }
    
    function onChangeListView() {
        onClick();
        hideExpandedAccordian();
        uncheckedAllCheckbox();
        clearProjectFilters();
        tooglePillsDiv();        
        clearTextFilters();
        hideErrorDiv();
        return listViewChange();
    }
    function getSelectedValue(){
        
        var tempArray = [];
        tempArray = getSelectedValueString("btnCountryStateTSPanel","");
        country = tempArray[0];
        state = tempArray[1];
        county = tempArray[2];    
        tempArray = getSelectedValueString("btnProjectStageTSPanel","");
        stage = tempArray[1];
        tempArray = getSelectedValueString("btnProjectCategoryTSPanel","Category");
        category = tempArray[1];
        tempArray = getSelectedValueString("btnCSICodeTSPanel","");
        divisionCode = tempArray[1];
        
        lastUpdatedDateRange = document.getElementById("date_fromLastUpdated").value+';'+ document.getElementById("date_toLastUpdated").value;
        biddingDateRange = document.getElementById("date_fromBidding").value+';'+ document.getElementById("date_toBidding").value;
        projectValueRange = document.getElementById("page:theForm:minProjectValue").value+';'+ document.getElementById("page:theForm:maxProjectValue").value;
        searchText = document.getElementById("page:theForm:searchText").value;
        //listView =document.getElementById("page:theForm:theLV").value;
        
        //alert(lastUpdatedDateRange );
    }
    
    function getSelectedValueString(elementId,type){
        var tempArray = [];
        var firstLevel = '';
        var secondLevel = '';
        var thirdLevel = '';
        var elements = document.querySelectorAll("#"+elementId+" input");
        for(var i=0;i<elements.length;i++){            
            if(elements[i].checked){
                if(elements[i].id.includes('firstLevelcheck')){
                    firstLevel += elements[i].nextElementSibling.textContent+';';
                }
                if(elements[i].id.includes('secondLevelcheck')){
                    if(type == 'Category'){
                        secondLevel += "'"+elements[i].nextElementSibling.textContent+"';";    
                    }else{
                        secondLevel += elements[i].nextElementSibling.textContent+';';
                    }                    
                }
                if(elements[i].id.includes('thirdLevelcheck')){                    
                    thirdLevel += elements[i].nextElementSibling.textContent.split(" | ")[1]+';';                    
                }
            }
        }
        tempArray.push(firstLevel);
        tempArray.push(secondLevel);
        tempArray.push(thirdLevel);
        return tempArray;
    }
    function hideErrorDiv(){
        document.getElementById('errMsgEstValue').style.display = 'none';
        document.getElementById('errMsgBidDate').style.display = 'none';
        document.getElementById('errMsgLastUpdatedDate').style.display = 'none';
    }
    function clearLastUpdate(){
        clearValue("date_fromLastUpdated");
        clearValue("date_toLastUpdated");
        return false;
    }
    
    function clearBiddingDate(){
        clearValue("date_fromBidding");
        clearValue("date_toBidding");
        return false;
    }
    
    function createPillsForProjectEstValue(SLDS202){
        
        var ulRecord = document.getElementById("selectedEstValueDiv");
        while (ulRecord.hasChildNodes()) {
            ulRecord.removeChild(ulRecord.lastChild);
        }
        var inputs = document.querySelectorAll("#btnCSICodeTScontent input");
        var min = 'page:theForm:minProjectValue';
        var max = 'page:theForm:maxProjectValue';
        var onclick = 'clearProjectEstValue();remove(\''+min+'_'+max+'\');';
        pills = createRecordLiForTextFilters(min,max,onclick,'toggleSelectedDiv(\'selectedEstValueDiv\',\'selectedEstValueContainer\')',SLDS202);
        
        ulRecord.innerHTML = pills;
    }
    
    function createPillsForLastUpdatedValue(SLDS202){
        
        var ulRecord = document.getElementById("selectedLastUpdatedDateDiv");
        while (ulRecord.hasChildNodes()) {
            ulRecord.removeChild(ulRecord.lastChild);
        }
        var inputs = document.querySelectorAll("#btnCSICodeTScontent input");
        var min = 'date_fromLastUpdated';
        var max = 'date_toLastUpdated';
        var onclick = 'clearLastUpdate();remove(\''+min+'_'+max+'\');';
        pills = createRecordLiForTextFilters(min,max,onclick,'toggleSelectedDiv(\'selectedLastUpdatedDateDiv\',\'selectedLastUpdatedDateContainer\')',SLDS202);
        ulRecord.innerHTML = pills;
    }
    
    function createPillsForBidDateValue(SLDS202){
        
        var ulRecord = document.getElementById("selectedBidDateDiv");
        while (ulRecord.hasChildNodes()) {
            ulRecord.removeChild(ulRecord.lastChild);
        }
        var inputs = document.querySelectorAll("#btnCSICodeTScontent input");
        var min = 'date_fromBidding';
        var max = 'date_toBidding';
        var onclick = 'clearBiddingDate();remove(\''+min+'_'+max+'\');';
        pills = createRecordLiForTextFilters(min,max,onclick,'toggleSelectedDiv(\'selectedBidDateDiv\',\'selectedBidDateContainer\')',SLDS202);
        
        ulRecord.innerHTML = pills;
    }
    
    function createRecordLiForTextFilters(min,max,onclick,oncomplete,SLDS202){
        
        var pills='';
        var dispName = document.getElementById(min).value + ' - '+ document.getElementById(max).value;
        
        var checkId = min+'_'+max;
        onclick = 'onClick();'+onclick
        pills+= '<span class="slds-pill slds-text-body--small" id="'+checkId+'"><a href="javascript:void(0);" class="slds-pill__label" title="'+dispName+'">'+dispName+'</a><button type="button" onclick = "'+onclick+';'+oncomplete+';return customSearch();" oncomplete="onComplete();"  class="slds-button slds-button--icon slds-pill__remove" title="Remove"><svg class="slds-button__icon" aria-hidden="true"><use xlink:href="'+SLDS202+'/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Remove</span></button></span>';
        return pills;
    }
    function tooglePillsDiv(){
        toggleSelectedDiv("selectedStageDiv","selectedStageContainer"); 
        toggleSelectedDiv("selectedLocationDiv","selectedLocationContainer");
        toggleSelectedDiv("selectedCategoryDiv","selectedCategoryContainer");
        toggleSelectedDiv("selectedCSICodeDiv","selectedCSICodeContainer");
        toggleSelectedDiv("selectedEstValueDiv","selectedEstValueContainer");
        toggleSelectedDiv("selectedLastUpdatedDateDiv","selectedLastUpdatedDateContainer");
        toggleSelectedDiv("selectedBidDateDiv","selectedBidDateContainer");
        
    }
    function toggleSelectedDiv(elementId, containerId){
        if(document.getElementById(elementId).hasChildNodes()){
            document.getElementById(containerId).style.display = 'none';
        }else{
            document.getElementById(containerId).style.display = 'none';
        }
    }
    function remove(id) {
        var elem = document.getElementById(id);
        return elem.parentNode.removeChild(elem);
    }
    
    
    function expandSectionBelow(element){
        element.classList.toggle("active");
        var panel = element.nextElementSibling;
        if (panel.style.maxHeight){
            panel.style.maxHeight = null;
            panel.style.padding = "0px";
            panel.style.overflow = 'hidden';
        } else {
            panel.style.maxHeight = panel.scrollHeight+50 + "px";
            panel.style.padding = "10px";
            panel.style.overflow = 'inherit';
        }
        hideOtherAccordian(element);    
    }
    
    function expandSectionBelow1(element){
            element.classList.toggle("active");
            panel = element.nextElementSibling;
            if(panel.style.display=="none"){
                panel.style.maxHeight = "300px";
                panel.style.padding = "10px";
                panel.style.display = "block";
                
                
            } else {
                panel.style.maxHeight = "0px";
                panel.style.padding = "0px";
                panel.style.display = "none";
                
            }
            hideOtherAccordian(element);
        }
    
    function hideOtherAccordian(element){
        var acc = document.getElementsByClassName("active");       
        for(var i=0;i<acc.length;i++){                               
            if(element != null && acc[i].id != element.id){                
                hideAccordian(acc[i].nextElementSibling); 
                document.getElementById(acc[i].id+'Panel').style.overflow = 'hidden';
                acc[i].classList.toggle("active");               
            }
        }
    }
    
    function hideExpandedAccordian(){           
        var acc = document.getElementsByClassName("active");
        for(var i=0;i<acc.length;i++){
            hideAccordian(acc[i].nextElementSibling);
            document.getElementById(acc[i].id+'Panel').style.overflow = 'hidden';
            acc[i].classList.toggle("active");
        }  
    }
    
    function toggleCloseApply(){
        panel = document.getElementById("btnProjectEstValuePanel1");
        panel.style.display = "none";
    }
    
    function applyFilters(filters,filterType){
                for(var i=0; i<filters.length;i++){
                    if(document.getElementById(filters[i]) != null){
                        document.getElementById(filters[i]).checked = true;
                    }
                }              
            }
            
            function applyTextFilters(values,filterType ){      
                var fromVal = values[0];
                var toVal = '';
                if(values.length == 2){
                    toVal = values[1];
                }
                if(filterType == 'rdcc__Project_Bidding_Date_Range__c'){
                    document.getElementById("date_fromBidding").value = fromVal;
                    document.getElementById("date_toBidding").value = toVal;
                }
                if(filterType == 'rdcc__Project_Last_Updated_Range__c'){
                    document.getElementById("date_fromLastUpdated").value = fromVal;
                    document.getElementById("date_toLastUpdated").value = toVal;
                   
                }
                if(filterType == 'rdcc__Project_Listed_Date_Range__c'){
                    document.getElementById("date_fromListed").value = fromVal;
                    document.getElementById("date_toListed").value = toVal;
                  
                }
                if(filterType == 'rdcc__Project_Value_Range__c'){
                    document.getElementById(minProjectEstValueId).value = fromVal;
                    document.getElementById(maxProjectEstValueId).value = toVal; 
                }
                  console.log(filterType);
            }
    
    function clearFiltersSavedSearch(){        
		uncheckedAllCheckbox();
        clearProjectFilters();
        tooglePillsDiv();
        clearTextFilters();
        hideExpandedAccordian();
        document.getElementById(srchNameListView).value = '';
    }

    </script>
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        
    
        <apex:form styleClass="slds" id="theForm">
            <apex:actionFunction name="searchServer" action="{!runSearch}" oncomplete="resultTableProperties();overridePageMessages();hideExpandedAccordian();onComplete();" status="spinnerStatus" rerender="results,debug,errors">
                <apex:param name="country" value=""/>
                <apex:param name="state" value=""/>
                <apex:param name="county" value=""/>
                <apex:param name="stage" value=""/>
                <apex:param name="category" value=""/>
                <apex:param name="divisionCode" value=""/>
                <apex:param name="lastUpdatedDateRange" value=""/>
                <apex:param name="biddingDateRange" value=""/>
                <apex:param name="projectValueRange" value=""/>
                <apex:param name="searchText" value=""/>
                <apex:param name="listView" value=""/>
                <apex:param name="srchName" value=""/>
            </apex:actionFunction>
            <apex:actionFunction name="listViewChange"
                                 action="{!onListViewChange}"
                                 oncomplete="overridePageMessages();onComplete();resultTableProperties();" 
                                 status="spinnerStatus" 
                                 rerender="results,debug,errors"/>
            
            <div id="msgDiv" style="display:none;margin-left:20px; margin-right:20px;">
                 <apex:pageMessages id="errors"></apex:pageMessages>
            </div>
        <!--Header Section-->
            <div class="slds-page-header slds-page-header--object-home slds-fixed-header" style="padding-top:{!If(isMyInsightProj,'1rem','.5rem')};padding-bottom:{!If(isMyInsightProj,'1rem','.5rem')}">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate">
                        <div class="slds-media slds-no-space slds-grow">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-custom-custom16">
                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                        <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/custom-sprite/svg/symbols.svg#custom16')}"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <div id="view-list" class="slds-dropdown-trigger--click slds-m-left--x-small" aria-expanded="false">
                                    <p class="slds-text-title--caps slds-line-height--reset" style="display:{!If(isMyInsightProj,'block','none')}">My Insight Projects</p>
                                    <p class="slds-text-title--caps slds-line-height--reset" style="display:{!If(isMyInsightProj,'none','block')}">Insight Projects</p>
                                    <h1 class="slds-page-header__title slds-p-right--x-small">
                                        <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                                            <apex:selectList styleClass="searchTypeListView slds-scope slds-input" id="theLV" value="{!selectedListViewToDisplay}" size="1" onchange="onClick();onChangeListView();hideExpandedAccordian();closeNav();" style="min-height:25px;">
                                                <apex:selectOptions value="{!listViews}"/>        
                                            </apex:selectList>
                                            <span class="slds-icon_container slds-icon_container--circle slds-icon-action-filter" title="Add Filter" onclick="openNav();hideExpandedAccordian();" style="margin-left:.5rem;padding: .3rem;">
                                                <svg class="slds-icon slds-icon--x-small" aria-hidden="true" style="width: 1.2rem;">
                                                    <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#filter')}"></use>
                                                </svg>
                                            </span>
                                        </span>
                                        <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                                            	<apex:selectlist id="saveLV" style="background-color: #fff;min-height:25px;" size="1" onchange="onClick();loadSearchName(this.value);closeNav();" styleClass="slds-scope slds-input">                            
                                                    <apex:selectoptions value="{!savedSearches}" />
                                                </apex:selectlist>
                                            <apex:outputPanel rendered="{!cs.rdcc__Allow_Project_Creation_Manually__c}">
                                                <apex:outputLink value="{!URLFOR($Action.rdcc__ReedProject__c.New)}" rendered="{!NOT(isMyInsightProj)}">
                                                    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-new" title="New" style="margin-left:.5rem;padding: .3rem;" onclick="closeNav();">
                                                        <svg class="slds-icon slds-icon--x-small" aria-hidden="true" style="width: 1.2rem;">
                                                            <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/action-sprite/svg/symbols.svg#new')}"></use>
                                                        </svg>
                                                    </span>
                                                </apex:outputLink>
                                            </apex:outputPanel>
                                        </span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--search section-->
            <div class="slds-form-element" style="top:70px;">
            <div class="slds-p-vertical--x-small slds-p-horizontal--small slds-shrink-none slds-theme--shade">
                <div class="slds-form-element slds-lookup" data-select="single">                        
                    <div class="slds-form-element__control slds-input-has-fixed-addon" style="margin-top:40px;">                        
                        <apex:inputText styleClass="slds-input" 
                                        html-placeholder="Enter Search Text..." 
                                        id="searchText"  
                                        onkeydown="if (event.keyCode == 13){event.preventDefault();this.nextSibling.nextSibling.firstChild.click()}" /> 
                                                                 
                        <span class="slds-form-element__addon">
                            <apex:commandButton id="btnSearch"  
                                                onclick="onClick();return customSearch();" 
                                                status="spinnerStatus"
                                                value="Search!" 
                                                image="{!URLFOR($Resource.rdcc__SLDS202, '/assets/icons/utility/search_60.png')}" 
                                                styleClass="slds-button slds-button--icon-border"
                                                style="padding:5px;" />
                            
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--Search Results section-->
        <apex:outputPanel id="results">
                            <apex:outputPanel >
                                <table id="resultTable" class="display">
                                    <thead style="display:none;">
                                        <tr>
                                            <th>Header</th>        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat value="{!projects}" var="project">
                                            <tr>   
                                                <td>
                                                
                                                         <div>
                                                     <apex:repeat value="{!selectedFields}" var="s">
                                                        
                                                        <apex:outputPanel rendered="{!IF(OR(projectFieldApiNameTypeMap[s.value] == 'DATE',projectFieldApiNameTypeMap[s.value] == 'DATETIME'),true,false)}">
                                                            <b><apex:outputLabel value="{!s.Label}:"/></b> &nbsp;<apex:outputField value="{!project[s.value]}"/><br/>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(s.value=='Name',true,false)}">
                                                        <a href="/{!project.Id}" style="text-decoration: none;" ><b><apex:outputText value="{!project.Name}" style="color:#005fb2;" /></b></a><br/>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(projectFieldApiNameTypeMap[s.value]=='CURRENCY',true,false)}">
                                                            <b><apex:outputLabel value="{!s.Label}:"/></b> &nbsp;<apex:outputField value="{!project[s.value]}" style="color:#005fb2;" /><br/>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(projectFieldApiNameTypeMap[s.value]=='REFERENCE',true,false)}">
                                                        <b><apex:outputLabel value="{!s.Label}:"/></b> &nbsp;<a class="slds-text-link" href="javascript:void(0);" style="text-decoration: none;color:#005fb2;">{!project[projectLkpFieldsMap[s.value]]}</a><br/>
                                                        </apex:outputPanel>                                                      
                                                         <apex:outputPanel rendered="{!IF(projectFieldApiNameTypeMap[s.value]!='REFERENCE' && s.value!='Name' && projectFieldApiNameTypeMap[s.value]!='DATE' && projectFieldApiNameTypeMap[s.value]!='DATETIME' && s.value != 'rdcc__Estimated_Value__c',true,false)}">
                                                                <b><apex:outputLabel value="{!s.Label}:"/></b> &nbsp;<apex:outputText value="{!project[s.value]}"  style="color:#005fb2;"/><br/>
                                                         </apex:outputPanel>
                                                               
                                                   </apex:repeat>
                                                   </div>
                                                  
                                                </td>
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </apex:outputPanel> 
                        </apex:outputPanel>
        
        <!--sidenav-filetrs--->
        <div id="mySidenav" class="sidenav" style="top:90px;">
            
            <apex:commandLink style="text-decoration: underline;color: #0070d2;"
                               value="Clear Filters"
                               onclick="onClick();openNav();" 
                               oncomplete="onComplete();resultTableProperties(); uncheckedAllCheckbox();  clearProjectFilters();tooglePillsDiv();clearTextFilters();hideExpandedAccordian(); clearFiltersSavedSearch();" 
                               action="{!initData}" 
                               status="spinnerStatus" rerender="results,debug,errors"/>
            
            <table cellpadding="2" cellspacing="2"  >
                <tr>
                    <td>
                        <button id="btnCountryStateTS" class="accordion"  onclick="expandSection(this);"  type="button" style="margin-bottom: 5px;width:80%;">Project Location</button>
                        <div class="tooltip" id="btnCountryStateTSPanel" style="display:none;width:80%;">
                                <div id="header" class="div_header">
                                    <apex:outputPanel >
                                        <apex:commandLink value="Clear"
                                                          styleClass="clear-filter" 
                                                          rerender="results" 
                                                          status="spinnerStatus" 
                                                          onclick="uncheckedAllCheckbox('btnCountryStateTScontent');toogleSelectedLocationDiv();" 
                                                          oncomplete="resultTableProperties();"/>
                                    </apex:outputPanel>
                                </div> 
                                <div id="btnCountryStateTScontent" Style="background-color:white;overflow:auto;max-height: 200px;"> 
                                    <c:Tree_New ts="{!countryStateTS}" layer="3"/>
                                </div> 
                                <div id="footer" class="div_header" style="text-align:center" > 
                                     <apex:commandButton value="Apply"  
                                                         onclick="openNav();onClick();createPillsForSelectedLocation('{!$Resource.rdcc__SLDS202}');toogleSelectedLocationDiv();return customSearch();"  
                                                         styleClass="slds-button slds-button--neutral" />
                                    
                                    <input type="button" value = "Cancel" class="slds-button slds-button--neutral"
                                            onclick="hideExpandedAccordian();onClose('btnCountryStateTScontent','selectedLocationDiv');openNav()" 
                                            oncomplete="resultTableProperties();"/>
                                </div> 
                            
                        </div>                                    
                    </td>
                </tr>

                <tr>
    <td><button id="btnProjectStageTS" class="accordion" onclick = "expandSection(this);"  type="button" style="margin-bottom: 5px;width:80%;">Project Stage</button>
        <div class="tooltip" id="btnProjectStageTSPanel" style="width:80%;display:none">
            
           
                <div id="header" class="div_header" > 
                    <apex:outputPanel >
                        <apex:commandLink value="Clear"  styleClass="clear-filter"  onclick=" return uncheckedAllCheckbox('btnProjectStageTScontent');"/>
                    </apex:outputPanel>
                   
                </div> 
                <div id="btnProjectStageTScontent" Style="background-color:white;overflow:auto;max-height: 200px;"> 
                    <c:Tree_New ts="{!projectStageTS}" layer="2"/>
                </div> 
                <div id="footer" class="div_header" style="text-align:center">
                    <apex:commandButton value="Apply" 
                                        onclick="openNav();onClick();createPillsForSelectedStage('{!$Resource.rdcc__SLDS202}');toogleselectedStageDiv();return customSearch();" 
                                        styleClass="slds-button slds-button--neutral" /> 
                   
                    
                    <input type="button" value = "Cancel" class="slds-button slds-button--neutral"  onclick="hideExpandedAccordian();onClose('btnProjectStageTScontent','selectedStageDiv');openNav();" oncomplete="resultTableProperties();"/>
                </div> 
                                                    
        </div>                                    
    </td>                                
</tr>
<tr>
                                <td><button id="btnProjectCategoryTS" class="accordion" onclick = "expandSection(this);"  type="button" style="margin-bottom: 5px;width:80%;">Project Category</button>
                                    <div class="tooltip" id="btnProjectCategoryTSPanel" style="width:80%;display:none">
                                        

                                            <div id="header" class="div_header"> 
                                                <apex:outputPanel >
                                                    <apex:commandLink value="Clear" styleClass="clear-filter"  onclick=" return uncheckedAllCheckbox('btnProjectCategoryTScontent');"/>
                                                </apex:outputPanel>
                                                
                                            </div> 
                                            <div id="btnProjectCategoryTScontent" Style="background-color:white;overflow:auto;max-height: 130px;"> 
                                                <c:Tree_New ts="{!projectCategoryTS}" layer="2"/>
                                            </div> 
                                            <div id="footer" class="div_header" style="text-align:center">
                                                <apex:commandButton value="Apply"  
                                                                    onclick="openNav();onClick();createPillsForSelectedCategory('{!$Resource.rdcc__SLDS202}');toogleSelectedCategoryDiv();return customSearch();" 
                                                                    styleClass="slds-button slds-button--neutral" />
                                                
                                                
                                                <input type="button" value = "Cancel" class="slds-button slds-button--neutral" onclick="hideExpandedAccordian();onClose('btnProjectCategoryTScontent','selectedCategoryDiv');openNav();" oncomplete="resultTableProperties();"/>
                                            </div> 
                                                                        
                                    </div>                                    
                                </td>                                
                            </tr>
                            
                            <tr>
                                <td>
                                    <div id="typeDiv" style="display:{!IF(projectMaterialCodeTS.nodes.size == 0, 'none','block')}">
                                    <button id="btnCSICodeTS" class="accordion" onclick = "expandSection(this);"  type="button" style="margin-bottom: 5px;width:80%;">Material Code</button>
                                    <div class="tooltip" id="btnCSICodeTSPanel" style="width:80%;display:none">
                                        
                                      
                                            <div id="header" class="div_header">
                                                <apex:outputPanel >
                                                    <apex:commandLink value="Clear" styleClass="clear-filter"  onclick="return uncheckedAllCheckbox('btnCSICodeTScontent');"/>
                                                </apex:outputPanel>
                                                
                                              
                                            </div> 
                                            <div id="btnCSICodeTScontent" Style="background-color:white;overflow:auto;max-height: 130px;"> 
                                                <c:Tree_New ts="{!projectMaterialCodeTS}" layer="2"/>
                                            </div> 
                                            <div id="footer" class="div_header" style="text-align:center">
                                                <apex:commandButton value="Apply" 
                                                                    onclick="openNav();onClick();createPillsForSelectedCSICodes('{!$Resource.rdcc__SLDS202}');toogleSelectedCSIDiv();return customSearch();" 
                                                                    styleClass="slds-button slds-button--neutral" />
                                                
                                                
                                                <input type="button" value = "Cancel" 
                                                        class="slds-button slds-button--neutral"  
                                                        onclick="hideExpandedAccordian();onClose('btnCSICodeTScontent','selectedCSICodeDiv');openNav();" 
                                                        oncomplete="resultTableProperties();"/>
                                            </div>                                   
                                    </div>
                                    </div>
                                </td>                                
                            </tr>
                          
                            <tr>
                                <td><button id="btnProjectLastUpdated" class="accordion" onclick = "expandSectionBelow(this);"  type="button" style="    margin-bottom: 5px;width:80%;">Project Last Updated Date</button>
                                    <div class="panel" id="btnProjectLastUpdatedPanel" style="width:80%;">
                                        <div style="float:right;margin-right:10px;">
                                            <apex:commandLink value="Clear"  onclick="return clearLastUpdate();" styleClass="clear-filter"/>
                                        </div>
                                        <div>
                                            <apex:outputLabel for="fromLastUpdated" value="From" style="margin-right: 35px;font-weight: bold;"/>
                                            <!--apex:input value="{!fromLastUpdated}" type="date" label="From" title="From" id="date_fromLastUpdated" style="width:100%;margin-top: 5px;"/-->
                                            <c:DatePicker dateFieldId="fromLastUpdated" />
                                        </div><br/>
                                        <div>
                                            <apex:outputLabel for="toLastUpdated" value="To" style="margin-right: 35px;font-weight: bold;"/>
                                            <!--apex:input value="{!toLastUpdated}" type="date" label="To" title="To" id="date_toLastUpdated" style="width:100%;margin-top: 5px;margin-left:18px;"/-->                                            
                                            <c:DatePicker dateFieldId="toLastUpdated" />
                                        </div>
                                        <br/><div id="errMsgLastUpdatedDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                        <div style="text-align:center;margin: 10px;">
                                            <apex:commandButton value="Apply" 
                                                                onclick="return validateData('date_fromLastUpdated','date_toLastUpdated','errMsgLastUpdatedDate','Last Updated Date','{!$Resource.rdcc__SLDS202}');" 
                                                                styleClass="slds-button slds-button--neutral"  />
                                                                                        
                                        </div>
                                    </div>
                                </td>
                            </tr>
<tr>
                                <td>                                   
                                    <div id="selectedProjectLastUpdatedContainer" class="slds" style="display:none">                                          
                                        <div id="selectedProjectLastUpdatedDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                    </div>                                  
                                </td> 
                                
                            </tr>
                            <tr>
                                <td><button id="btnProjectBiddingDtRng" class="accordion"  onclick = "expandSectionBelow(this);"  type="button" style="margin-bottom: 5px;width:80%;">Project Bidding Date Range</button>
                                    <div class="panel" id="btnProjectBiddingDtRngPanel" style="width:80%;overflow: auto;">
                                        <div style="float:right;margin-right:10px;">
                                            <apex:commandLink value="Clear"  onclick="return clearBiddingDate();" styleClass="clear-filter"/>
                                        </div>
                                        <div>
                                            <apex:outputLabel for="frmBiddingDate" value="From" style="margin-right: 35px;font-weight: bold;"/>
                                            <!--apex:input value="{!fromBidding}" type="date" label="From" title="From" id="date_fromBidding" style="width:100%;margin-top: 5px;"/-->
                                            <c:DatePicker dateFieldId="fromBidding" />
                                        </div><br/>
                                        <div>
                                            <apex:outputLabel for="toBiddingDate" value="To" style="margin-right: 35px;font-weight: bold;"/>
                                            <!--apex:input value="{!toBidding}" type="date" label="To" title="To" id="date_toBidding" style="width:100%;margin-top: 5px;margin-left:18px;"/-->                                            
                                            <c:DatePicker dateFieldId="toBidding" />
                                        </div>
                                        <br/><div id="errMsgBidDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                        <div style="text-align:center;margin: 10px;">
                                            <apex:commandButton value="Apply" 
                                                                onclick="return validateData('date_fromBidding','date_toBidding','errMsgBidDate','Bidding Date','{!$Resource.rdcc__SLDS202}');" 
                                                                styleClass="slds-button slds-button--neutral" />
                                            
                                            
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  
                                        <div id="selectedProjectBiddingDtContainer" class="slds" style="display:none">                                          
                                            <div id="selectedProjectBiddingDtDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                  
                                </td> 
                                
                            </tr>
                            <tr>
                                <td><button id="btnProjectEstValue" class="accordion" onclick = "expandSectionBelow(this);"  type="button" style="margin-bottom: 5px;width:80%;">Project Value</button>
                                    <div class="panel" id="btnProjectEstValuePanel" style="width:80%;">
                                        <div style="float:right;margin-right:10px">
                                            <apex:commandLink value="Clear"  onclick="return clearProjectEstValue();" styleClass="clear-filter"/>
                                        </div>
                                        <div>
                                            <apex:outputLabel for="minProjectValue" value="Min" style="margin-right: 30px;font-weight: bold;"/>
                                            <apex:inputText id="minProjectValue" value="{!fromEstProjectValue}" label="Min" style="width:100%;margin-top: 6px;"/>
                                        </div><br/>
                                        <div>
                                            <apex:outputLabel for="maxProjectValue" value="Max" style="margin-right: 30px;font-weight: bold;"/>
                                            <apex:inputText id="maxProjectValue" value="{!toEstProjectValue}" label="Max" style="width:100%;margin-top:9px;"/>
                                            
                                        </div><br/>
                                        <div id="errMsgEstValue" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                        
                                        <div style="text-align:center;margin: 10px;">
                                            <apex:commandButton value="Apply" 
                                                                onclick="return validateData('page:theForm:minProjectValue','page:theForm:maxProjectValue','errMsgEstValue','Estimated Value','{!$Resource.rdcc__SLDS202}');" 
                                                                status="spinnerStatus" 
                                                                styleClass="slds-button slds-button--neutral"/>
                                            
                                            
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button id="btnSearchName" class="accordion" onclick="expandSectionBelow(this);" type="button" style="margin-bottom: 5px;width:80%;">Search Name</button>
                                    <div class="panel" id="btnSearchNamePanel" style="width:80%;">                                                
                                        <div>
                                            <apex:selectList styleClass="slds-input" id="srchName1" size="1" style="width:100%;height:25px;margin-top:10px;">
                                                <apex:selectOptions value="{!srchNames}"></apex:selectOptions>
                                            </apex:selectList>                                            
                                        </div>                                        
                                        <br/>                                       
                                        <div style="text-align:center">
                                            <apex:commandButton value="Apply" onclick="onClick();closeNav();return customSearch();" styleClass="slds-button slds-button--neutral" style="margin-bottom: 5px;" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="selectedProjectEstValueContainer" class="slds" style="display:none">                                          
                                        <div id="selectedProjectEstValueDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                        <div id="selectedLocationContainer" class="slds" style="display:none" >
                                             <div id="header" class="div_header" style="margin-left:-7px"> 
                                                    <p>
                                                        Project Location
                                                    </p>
                                                </div>
                                            <div id="selectedLocationDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px;"/>                                            
                                        </div>
                                   
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>
                                   
                                        <div id="selectedStageContainer" class="slds" style="display:none">
                                             <div id="header" class="div_header" style="margin-left:-7px"> 
                                                    <p>
                                                        Project Stage
                                                    </p>
                                                </div>
                                            <div id="selectedStageDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                 
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>
                                    
                                        <div id="selectedCategoryContainer" class="slds" style="display:none">
                                             <div id="header" class="div_header" style="margin-left:-7px"> 
                                                    <p>
                                                        Project Category
                                                    </p>
                                                </div>
                                            <div id="selectedCategoryDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                    
                                </td> 
                                
                            </tr>
                              <tr>
                                <td>
                                  
                                        <div id="selectedCSICodeContainer" class="slds" style="display:none">
                                                <div id="header" class="div_header" style="margin-left:-7px"> 
                                                    <p>
                                                        Material Code
                                                    </p>
                                                </div>                                      
                                            <div id="selectedCSICodeDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                  
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>
                                  
                                       <div id="selectedLastUpdatedDateContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr" > 
                                                <p>
                                                    Last Updated Date
                                                </p>
                                            </div>                                      
                                            <div id="selectedLastUpdatedDateDiv" class="selectedDiv" /> 
                                        </div>
                                  
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>
                                  
                                       <div id="selectedBidDateContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr" > 
                                                <p>
                                                    Bidding Date
                                                </p>
                                            </div>                                      
                                            <div id="selectedBidDateDiv" class="selectedDiv" /> 
                                        </div>
                                  
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>
                                  
                                         <div id="selectedEstValueContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr"> 
                                                <p>
                                                    Project Value
                                                </p>
                                            </div>                                      
                                            <div id="selectedEstValueDiv" class="selectedDiv" /> 
                                        </div>
                                  
                                </td> 
                                
                            </tr>
            </table>
        </div>   
    </apex:form>
  </html>
</apex:page>