<apex:page controller="rdcc.CustomAccountLookupController"  
           title="Search" 
           showHeader="false" 
           sideBar="false" 
           tabStyle="Account" 
           id="pg">
     <script>
    	function putValue(conId, hiddenFieldId){          	
            if(document.getElementById(hiddenFieldId) != null){
                var conName = document.getElementById(hiddenFieldId).value;
                javascript:top.window.opener.lookupPick2("{!FormTag}","{!TextBox}_lkid","{!TextBox}",conId,conName, false);
            }else{
                alert("Some Problem in getting values.");
            }                       
        }
    	
    </script>
    
    <apex:form >
        
        <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;">          
            <apex:actionRegion >  
                <apex:outputPanel id="top" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
                    <span style = "font-size: 17px;font-weight: 800;">Lookup</span><br/>
                    <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
                    <apex:inputText id="txtSearch" value="{!searchString}" />
                    <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Go" action="{!Search}"></apex:commandButton></span>
                    <span style="padding-left:5px"><apex:commandButton id="btnNew" value="New" action="{!onClickNewButton}"></apex:commandButton></span>
                </apex:outputPanel>
                <apex:pageMessages ></apex:pageMessages>
                
                 
                <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:350px;overflow-Y:auto;" layout="block" rendered="{!NOT(isNew)}">
                    <br/><span style = "font-size: 15px;font-weight: 600;">{!recentlyViewedHeader}</span><br/>
                   <div id="errorMsg" style="display:{!If(recentlyViewedAccounts.size + result.size>200,'block','none')};color: orangered;">
                    <p>*The search returned more than the maximum number of rows (200). Please refine your search criteria.</p>
                </div>
                  
                    <apex:pageBlock id="searchResults1"> 
                        <apex:pageBlockTable value="{!recentlyViewedAccounts}" var="a" id="tblResults1" rows="100" rendered = "{!recentlyViewedAccounts.size>0}">
                            <apex:column headerValue="Account Name"> 
                                <apex:inputHidden value="{!a.Name}" id="accName" />
                                <apex:outputLink id="theLink" onclick="putValue('{!a.Id}',this.previousSibling.id)" value="javascript:void(0)" rendered="{!NOT(ISNULL(a.Id))}">{!a.Name}</apex:outputLink>     
                            </apex:column>
                            <apex:column headerValue="Account Site" ><apex:outputText value="{!a.Site}"/></apex:column>
                            <apex:column headerValue="Account Type" ><apex:outputText value="{!a.Type}"/></apex:column>
                        </apex:pageBlockTable>
                        <apex:outputText value="No Records Found" rendered="{!recentlyViewedAccounts.size == 0}"/>
                    </apex:pageBlock>
                    
                    <br/><span style = "font-size: 15px;font-weight: 600;">Companies Associated To Project</span><br/><br/>                 
                    <apex:pageBlock id="searchResults"> 
                        <apex:pageBlockTable value="{!result}" var="a" id="tblResults" rows="100" rendered="{!result.size > 0}">
                            <apex:column headerValue="Account Name"> 
                                <apex:inputHidden value="{!a.accName}" id="accName" />
                                <apex:outputLink id="theLink" onclick="putValue('{!a.accId}',this.previousSibling.id)" value="javascript:void(0)" rendered="{!NOT(ISNULL(a.accId))}">{!a.accName}</apex:outputLink>     
                            </apex:column>
                            <apex:column headerValue="Account Site" ><apex:outputText value="{!a.accountSite}"/></apex:column>
                            <apex:column headerValue="Account Type" ><apex:outputText value="{!a.accountType}"/></apex:column>
                        </apex:pageBlockTable>
                        <apex:outputText value="No Records Found." rendered="{!result.size == 0}"/>
                    </apex:pageBlock>                    
                </apex:outputPanel>
                
                <apex:outputPanel id="new" layout="block" style="margin:5px;padding:10px;padding-top:2px;" rendered="{!isNew}">
                    <br/>
                    <apex:pageBlock id="newAccount" >
                        <apex:pageBlockSection columns="2" >                            
                           <!--apex:pageBlockSectionItem >
                               <apex:outputLabel value=" Account Name" />
                               <apex:outputPanel >
                                   <div class="requiredInput">
                                       <div class="requiredBlock"></div>
                                       <apex:inputText label="Account Name" value="{!acc.Name}"/>
                                   </div>
                               </apex:outputPanel>
                            </apex:pageBlockSectionItem>                            
                            <apex:inputField value="{!acc.BillingStreet}"/>
                            <apex:inputField value="{!acc.BillingCity}"/>
                            <apex:inputField value="{!acc.BillingState}"/>
                            <apex:inputField value="{!acc.BillingPostalCode}"/>
                            <apex:inputField value="{!acc.Phone}"/>
                            <apex:inputField value="{!acc.Fax}"/>
                            <apex:inputField value="{!acc.Website}"/-->                                                
                            <apex:repeat value="{!$ObjectType.Account.FieldSets.rdcc__New_Account_On_Opp_Screen}" var="f">
                                <apex:inputField value="{!acc[f]}"/>
                            </apex:repeat>
                        </apex:pageBlockSection> 
                        
                        <apex:pageBlockButtons >
                            <apex:commandButton value="Save" action="{!insertAccount}"/>
                           
                            <apex:commandButton value="Cancel" action="{!onClickCancel}" immediate="true"/>
                          
                        </apex:pageBlockButtons>
                    </apex:pageBlock>
                </apex:outputPanel>
            </apex:actionRegion>                                 
        </apex:outputPanel>
    </apex:form>
</apex:page>