<apex:page standardController="Account" extensions="rdcc.BarPopUpControllerNew" readOnly="true" sidebar="false" cache="false" showHeader="true" tabStyle="Account">

<apex:outputPanel rendered="{!$CurrentPage.parameters.theme == 'Theme3'}">
  <apex:form id="myForm"> 
        <apex:sectionHeader title="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Company_Name__c}"/>
        <apex:pageBlock >
          <apex:pageBlockSection columns="2" collapsible="false" title="">
                <apex:outputField label="Name" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Contact_Name__c}"/>
                  <apex:outputField label="Company" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Company_Name__c}"/>
               <apex:outputField label="Address" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Company_Address__c}"/>
               <apex:outputField label="Phone" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Phone__c}"/>
                <apex:outputField label="Primary Industry" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Business_Type__c}"/>
                <apex:outputField label="Email" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Email__c}"/>
             </apex:pageBlockSection>
              <apex:pageBlockSection columns="2" collapsible="false" showHeader="true" title="">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel >Year Established</apex:outputLabel> 
                        <apex:outputText >{!barTrade.barRec.rdcc__Buyer__r.rdcc__Year_Established__c}</apex:outputText>
                    </apex:pageBlockSectionItem>
                    <apex:outputField label="Average Job Size" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Average_Job_Size__c}"/>
                    <apex:outputField label="MWBE" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__MWBE__c}"/>
                    <apex:outputField label="Union" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Union__c}"/>
                  <apex:outputField label="Sector" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Sector__c}"/>
                  <apex:outputField label="Licensed" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Licensed__c}"/>
                  <apex:outputField label="Insured" value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Insured__c}"/>
             </apex:pageBlockSection>
             <apex:pageBlockSection columns="1" collapsible="false" title="" >
                 <div style="height:160px;overflow-y: scroll" >
 <table width="100%" >
 <tr><td style="font-size:12px;font-weight: bold;color:black;padding-bottom:10px;padding-top:10px;">Trades </td></tr>
 <tr><td style="background-color:white;">
 <div style="height:120px;" >
 <table width="100%" >
 
 
 <apex:repeat value="{!barTrade.trades}" var="tr">
 <tr><td style="border-bottom: thin solid;">
 {!tr}</td></tr>
 </apex:repeat>

 </table>  </div></td></tr></table>
                 </div>
             </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:outputPanel>


<apex:outputPanel rendered="{!OR($CurrentPage.parameters.theme == 'Theme4d',$CurrentPage.parameters.theme =='Theme4t')}">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
        <style>
            .slds {
                font-size: .8125rem;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
              .slds{
                  font-size: 1rem !important;
              }
            }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
              .slds{
                  font-size: 2rem !important;
              }
            }
        </style>   
        <body class="slds-scope">
            <div class="slds">                
                
                <div id="mypopup" class="slds-popover slds-popover--panel" role="dialog" style="width:100%;">
                  <div class="slds-popover__header">
                    <div class="slds-media slds-m-bottom--small slds-media--center">
                      <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-account">
                          <svg class="slds-icon" aria-hidden="true" style="width: {!IF($CurrentPage.parameters.theme =='Theme4t','5rem','2rem')};height: {!IF($CurrentPage.parameters.theme =='Theme4t','5rem','2rem')}">
                            <use xlink:href="{!URLFOR($Resource.SLDS202,'/assets/icons/standard-sprite/svg/symbols.svg#account')}"></use>
                          </svg>
                          <span class="slds-assistive-text">{!barTrade.barRec.rdcc__Buyer__r.rdcc__Company_Name__c}</span>
                        </span>
                      </div>
                      <div class="slds-media__body">
                        <p class="slds-text-heading--medium slds-hyphenate" style="font-size:{!IF($CurrentPage.parameters.theme =='Theme4t','3rem !important','.8125rem')}">{!barTrade.barRec.rdcc__Buyer__r.rdcc__Company_Name__c}</p>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap slds-grid--pull-padded">
                      <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Name"><b>Name</b></p>
                          </dt>
                          <dd>
                            <p class="slds-truncate" title="3500 Deer Creek Rd.">{!barTrade.barRec.rdcc__Buyer__r.rdcc__Contact_Name__c}</p>
                          </dd>
                        </dl>
                      </div>
                      <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Phone"><b>Company</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Company_Name__c}</dd>
                        </dl>
                      </div>
                      <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Website"><b>Address</b></p>
                          </dt>
                          <dd> {!barTrade.barRec.rdcc__Buyer__r.rdcc__Company_Address__c}</dd>
                        </dl>
                      </div>
                      <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Phone</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Phone__c}</dd>
                        </dl>
                      </div>
                      <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Primary Industry</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Business_Type__c}</dd>
                        </dl>
                      </div>
                      <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Email</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Email__c}</dd>
                        </dl>
                      </div>
                    </div>
                    <hr style="margin:5px 0px 10px 0px;"/>
                    <div class="slds-grid slds-wrap slds-grid--pull-padded">
                      
                      <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Year Established</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Year_Established__c}</dd>
                        </dl>
                      </div>
                       <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Sector</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Sector__c}</dd>
                        </dl>
                      </div>
                       <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Average Job Size</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Average_Job_Size__c}</dd>
                        </dl>
                      </div>
                       <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Licensed</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Licensed__c}</dd>
                        </dl>
                      </div>
                       <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>MWBE</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__MWBE__c}</dd>
                        </dl>
                      </div>
                       <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Insured</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Insured__c}</dd>
                        </dl>
                      </div>
                      <div class="slds-p-horizontal--small slds-size--1-of-1 slds-max-small-size--1-of-1 slds-max-medium-size--1-of-2 slds-large-size--1-of-2 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Union</b></p>
                          </dt>
                          <dd>{!barTrade.barRec.rdcc__Buyer__r.rdcc__Union__c}</dd>
                        </dl>
                      </div>
                      
                    </div>
                    <hr style="margin:5px 0px 10px 0px;"/>
                    <div class="slds-grid slds-wrap slds-grid--pull-padded">
                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-p-bottom--x-small">
                        <dl>
                          <dt>
                            <p class="slds-text-title--caps slds-truncate" title="Account Owner"><b>Trades</b></p>
                          </dt>
                          <dd>
                            <div style="height:{!IF($CurrentPage.parameters.theme =='Theme4t','200px','100px')};overflow-y: scroll;background-color:white;">
                                 <table style="padding-top:20px;" width="100%" >
                                 <apex:repeat value="{!barTrade.trades}" var="tr">
                                    <tr><td style="border-bottom: thin solid;">{!tr}</td></tr>
                                 </apex:repeat>
                                 </table>
                            </div>   
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  
                </div>
            </div>
        </body>    
    </html> 
</apex:outputPanel>
  
</apex:page>