<apex:page controller="rdcc.ProjectViewConfigurationController" id="thePage" lightningStylesheets="true" sidebar="false" tabStyle="Data_Management_Setting__tab">
    <style>
    	.boxShadow
        {
            border: 1px solid red;
            box-shadow: 0 0 5px red;
        }
    </style>
    <script>
        window.onload = function()
        {
            if('{!makeChecked}' != ''){
                document.getElementById('{!makeChecked}').checked = true;
            }
            var str = "{!listToDisableRadioButton}";
            var arrayOfCompanyValuesSelected = str.split(";");
            //console.log();
            for(var i = 0, size = arrayOfCompanyValuesSelected.length; i < size ; i++)
            {
                document.getElementById(arrayOfCompanyValuesSelected[i]).disabled = true;
            }
            
        }
        
        function enableDisableRadioButton(radioId,checkBoxId)
        {
            
            var checkB = document.getElementById(checkBoxId);
            debugger;
            if(checkB.checked==true)
                document.getElementById(radioId).disabled = false;
            else
            {
                if(document.getElementById(radioId).checked == true)
                {
                    checkB.checked = true;
                    alert('You can not deselect this option, because this is the default view.');
                }
                else
                {
                    document.getElementById(radioId).disabled = true;
                }
            }
        }
    
        function collectRadioButtonValue()
        {
            var radioBut = document.getElementsByClassName("demo");
            var selectedB;
            for(var i = 0, size = radioBut.length; i < size ; i++)
            {
                if(radioBut[i].checked==true)
                    selectedB = radioBut[i];
            }
            if(selectedB != null)
            {
                //debugger;
                setRadioButtonValue(selectedB.id);
                return false;
            }
        }
    
        function showMessage()
        {
           document.getElementById('msgDiv').style.display = 'block'; 
        }
    
    	function uniquenessCheck()
    	{
            var myMap = new Map();
            var textBoxes = document.getElementsByClassName('textBoxValidation');
            for(var i = 0, size = textBoxes.length; i < size ; i++)
            {
                textBoxes[i].classList.remove("boxShadow");
                for(var j = i+1, size = textBoxes.length; j< size ; j++)
                {
                    if(textBoxes[i].value.trim()!="" && textBoxes[j].value.trim()!="" && textBoxes[i].value===textBoxes[j].value)
                    {
                        myMap.set(textBoxes[i].id,textBoxes[i].value);
                        myMap.set(textBoxes[j].id,textBoxes[j].value);
                    }
               	}
            }
            debugger;
            if(myMap.size>0)
            {
                 for (var [key, value] of myMap.entries())
                 {
                     document.getElementById(key).classList.add("boxShadow");
                 }
                debugger;
              return false;
            }
            else
                return true;
       		
        }
     </script>
    <apex:form >
    <apex:actionFunction name="setRadioButtonValue" action="{!setRadioButton}" reRender="abc">
                            <apex:param name="radioButtonToBeChecked" value="" />
    </apex:actionFunction>
    <apex:outputPanel id="msgDivPannel">
                <div id="msgDiv" style="display:none">
                    <apex:pageMessages id="pgMsg"></apex:pageMessages>
                </div>
            </apex:outputPanel>    
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery.dataTables.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/jquery.dataTables.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <!-- Below section is for my project view screen option and only render if type of the page is equals to 'my' -->
        <apex:pageBlock rendered="{!isMyInsightProj}">
        <apex:pageBlockTable value="{!listOfMyProjectView}" var="projectView" id="theTable" styleClass="tableClass">
            <apex:column styleClass="slds-p-left_x-small" style="width:32%;">
                <apex:facet name="header"><apex:outputLabel styleClass="labelCol vfLabelColTextWrap" value="Default Label" style="font-weight:bolder;"></apex:outputLabel></apex:facet>
                <apex:outputText value="{!projectView.rdcc__Default_Label__c}"/>
            </apex:column>
            <apex:column styleClass="slds-p-left_x-small">
                <apex:facet name="header"><apex:outputLabel styleClass="labelCol vfLabelColTextWrap" value="Custom Label" style="font-weight:bolder;"></apex:outputLabel></apex:facet>
                <apex:inputField value="{!projectView.rdcc__Custom_Label__c}" styleClass="textBoxValidation" style="width: 55%;"/>
            </apex:column>
            <apex:column styleClass="slds-p-left_x-small">
                <apex:facet name="header"><apex:outputLabel styleClass="labelCol vfLabelColTextWrap" value="Available on Screen" style="font-weight:bolder;"></apex:outputLabel></apex:facet>
                <apex:inputField value="{!projectView.rdcc__Available__c}" onchange="enableDisableRadioButton('{!projectView.Name}',id);"/>
            </apex:column>
            <apex:column styleClass="slds-p-left_x-small">
                <apex:facet name="header"><apex:outputLabel styleClass="labelCol vfLabelColTextWrap" value="Default View" style="font-weight:bolder;"></apex:outputLabel></apex:facet>
                <input type="radio" class="demo" id="{!projectView.Name}" name="myCheckbox" onchange="return collectRadioButtonValue();"/>
            </apex:column>
        </apex:pageBlockTable>
            <apex:pageBlockButtons location="bottom" >
                <div style ="padding-left:170px">
                    <apex:commandButton value="Save" onclick="if(!uniquenessCheck()){return false;}" action="{!onSave}" style="width: 70px;height: 30px;border-radius: 5px;" rendered="{!$User.UIThemeDisplayed == 'Theme3'}"/>
                    <apex:commandButton value="Save" onclick="if(!uniquenessCheck()){return false;}" action="{!onSaveInLightning}" reRender="msgDivPannel" style="width: 70px;height: 30px;border-radius: 5px;" rendered="{!$User.UIThemeDisplayed != 'Theme3'}" oncomplete="showMessage();"/>
                    <apex:commandButton value="Cancel" action="{!urlfor($Page.ConfigurableSetting)}"  style="width: 70px;height: 30px;border-radius: 5px;"/>
                </div>
            </apex:pageBlockButtons>
            </apex:pageBlock>
            <!-- Below section is for project view screen option and only render if type of the page is not equals to 'my' -->
            <apex:pageBlock rendered="{!!isMyInsightProj}">
        <apex:pageBlockTable value="{!listOfProjectView}" var="projectView" id="theTable" styleClass="tableClass">
            <apex:column styleClass="slds-p-left_x-small" style="width:32%;">
                <apex:facet name="header"><apex:outputLabel styleClass="labelCol vfLabelColTextWrap" value="Default Label" style="font-weight:bolder;"></apex:outputLabel></apex:facet>
                <apex:outputText value="{!projectView.rdcc__Default_Label__c}"/>
            </apex:column>
            <apex:column styleClass="slds-p-left_x-small">
                <apex:facet name="header"><apex:outputLabel styleClass="labelCol vfLabelColTextWrap" value="Custom Label" style="font-weight:bolder;"></apex:outputLabel></apex:facet>
                <apex:inputField value="{!projectView.rdcc__Custom_Label__c}" styleClass="textBoxValidation" style="width: 55%;"/>
            </apex:column>
            <apex:column styleClass="slds-p-left_x-small">
                <apex:facet name="header"><apex:outputLabel styleClass="labelCol vfLabelColTextWrap" value="Available on Screen" style="font-weight:bolder;"></apex:outputLabel></apex:facet>
                <apex:inputField value="{!projectView.rdcc__Available__c}"  onchange="enableDisableRadioButton('{!projectView.Name}',id);"/>
            </apex:column>
            <apex:column styleClass="slds-p-left_x-small">
                <apex:facet name="header"><apex:outputLabel styleClass="labelCol vfLabelColTextWrap" value="Default View" style="font-weight:bolder;"></apex:outputLabel></apex:facet>
                <input type="radio" class="demo" name="checkBox" id="{!projectView.Name}" onchange="return collectRadioButtonValue();"/>
            </apex:column>
        </apex:pageBlockTable>
            <apex:pageBlockButtons location="bottom" >
                <div style ="padding-left:170px">
                    <apex:commandButton value="Save" onclick="if(!uniquenessCheck()){return false;}" action="{!onSave}" style="width: 70px;height: 30px;border-radius: 5px;" rendered="{!$User.UIThemeDisplayed == 'Theme3'}"/>
                    <apex:commandButton value="Save" onclick="if(!uniquenessCheck()){return false;}" action="{!onSaveInLightning}" reRender="msgDivPannel" style="width: 70px;height: 30px;border-radius: 5px;" rendered="{!$User.UIThemeDisplayed != 'Theme3'}" oncomplete="showMessage();"/>
                    <apex:commandButton value="Cancel" action="{!urlfor($Page.ConfigurableSetting)}"  style="width: 70px;height: 30px;border-radius: 5px;"/>
                </div>
            </apex:pageBlockButtons>
            </apex:pageBlock>
    </apex:form>
</apex:page>