<apex:page controller="rdcc.InsightContactSearchController" tabStyle="rdcc__InsightContacts__tab"  id="page" docType="html-5.0" sidebar="false" showHeader="false" readOnly="true">
    
    <div class="slds">
        <div class="slds-spinner_container" id="loading" style="display:none;">
            <div id="loading-content">
                <div role="status" class="slds-spinner slds-spinner--medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
    </div>
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery-1.11.1.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery.dataTables.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/jquery.dataTables.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/InsightContactSearchLightning.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/InsightContactSearchLightning.css')}"/>
    <script>
        document.getElementById("loading").style.display='block';
        window.onload = function() {
            document.getElementById("loading").style.display='none';
        }
        
        function validateData(minId,maxId,elementId,type,SLDS202){           
	var minValue =  document.getElementById(minId).value;
	var maxValue =  document.getElementById(maxId).value;
	var isError = false;
	var errorMsg = '';
	if((minValue == null || minValue == '')){
		minValue = '0';
	}
	if((maxValue == null || maxValue == '')){
		maxValue = '0';
	}
	if( document.getElementById(minId).value =='' && document.getElementById(maxId).value ==''){
		isError = true;
		errorMsg = 'Please provide value of atleast one field.';
	}
	if(!minValue.match(/^\d+$/) || !maxValue.match(/^\d+$/)){
		isError = true;
		errorMsg = 'Only numeric value acceptable.';
	}
	if(parseInt(minValue) > parseInt(maxValue) && document.getElementById(maxId).value !=''&& document.getElementById(maxId).value != null){
		isError = true;
		errorMsg = 'Min must be smaller than Max.';
	}            
	if(isError){
		document.getElementById(elementId).style.display = 'block';
		document.getElementById(elementId).innerText = errorMsg;
	}else{
		onClick();               
		if(type == 'Estimated Value'){
			createPillsForProjectEstValue(SLDS202);
			toggleSelectedDiv('selectedEstValueDiv','selectedEstValueContainer');
			document.getElementById(elementId).style.display = 'none';
		}
		if(type == 'MaterialDemandValue'){
			createPillsForMaterialDemandValue(SLDS202);
			toggleSelectedDiv('selectedMaterialDemandDiv','selectedMaterialDemandContainer');
			document.getElementById(elementId).style.display = 'none';                    
		}
		customSearch();    
	}
	return false;
	
}
    </script>  

    <style>
        .slds .slds-spinner:before, .slds .slds-spinner:after, 
        .slds .slds-spinner__dot-a:before, .slds .slds-spinner__dot-b:before, 
        .slds .slds-spinner__dot-a:after, .slds .slds-spinner__dot-b:after{
            background:#0070d2 !important;
        }
        
        .slds .slds-table th, .slds .slds-table td {
            padding: 0.5rem;
            white-space: inherit;
            position: relative;
        }
        
        html body.sfdcBody {
        	padding:0px !important;
        }
        
        button.accordion {
            cursor: pointer;   
            border: none;
            text-align: left;
            outline: none;
            font-size: 12px;
            transition: 0.4s;
            background-color: white;
            color: #0070d2;
            width: 200px;
        }
    </style>
    
    <div class="slds">
        
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            
            <apex:form id="csLightForm">
                <div class="slds-page-header slds-page-header--object-home" onclick="hideExpandedAccordian();">
                    <div class="slds-grid">
                        <div class="slds-col slds-has-flexi-truncate">
                            <div class="slds-media slds-no-space slds-grow">
                                <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-standard-contact" >
                                        <svg class="slds-icon slds-icon--large" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/standard-sprite/svg/symbols.svg#contact')}"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-media__body">
                                    <div id="view-list" class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small" aria-expanded="false">
                                        <p class="slds-text-title--caps slds-line-height--reset">Insight Contacts</p>
                                        <h1 class="slds-page-header__title slds-p-right--x-small">
                                            
                                            <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                                                <apex:selectList value="{!selectedListView}" id="theLV" size="1" onchange="onClick();onChangeListView();return customSearch();" styleClass="slds-select" style="margin-right: 5px;width: 200px; height:22px;background: #f7f9fb; border: #f7f9fb;outline: none; font-size:.9rem; ">
                                                    <apex:selectOptions value="{!listViews}"/>        
                                                </apex:selectList>
                                            </span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
                            <apex:outputPanel rendered="{!cs.rdcc__Allow_Contact_Creation_Manually__c}">
                                <div>
                                    <apex:outputLink styleClass="slds-button slds-button--neutral" style="text-decoration: none;" value="{!URLFOR($Action.rdcc__Insight_Contact__c.New)}">New Contact</apex:outputLink>                            
                                </div>
                            </apex:outputPanel>
                            <div class="slds-button-group" role="group">
                                <button type="button" class="slds-button slds-button--neutral" onclick=" hideExpandedAccordian();return toggleDisplayModel('ModalId')">My Columns</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                
               
                
                <apex:actionFunction name="searchServer" action="{!runSearch}" oncomplete="resultTableProperties();overridePageMessages();hideExpandedAccordian();onComplete();" status="spinnerStatus" rerender="results,debug,errors">
                    <apex:param name="country" value=""/>
                    <apex:param name="state" value=""/>
                    <apex:param name="county" value=""/>      
                    <apex:param name="type" value=""/>
                    <apex:param name="projectValueRange" value=""/>
                    <apex:param name="searchText" value=""/>
                    <apex:param name="mDemandValueRange" value=""/>
                    <apex:param name="listView" value=""/>
                </apex:actionFunction>
                
                
                <div id="msgDiv" style="display:none;margin-left:20px; margin-right:20px;">
                    <apex:pageMessages id="errors"></apex:pageMessages>
                </div>
                
                <table width="100%" border="0" class="outerTable slds-table slds-table--bordered slds-table--cell-buffer slds-no-row-hover ">
                    <tr class="slds-text-title--caps">
                        <td valign="top" id="filterSection" >
                            
                            <apex:outputPanel id="criteria" style="width:200px;">
                                <div id="filterHeader" style="margin-top:20px">
                                    <apex:outputText style="font-weight:bold;font-size:15px;float:left;" value="Filters" />
                                    <apex:commandLink styleClass="slds-text-link" style="float:right;" value="Clear Filters" rerender="results" onclick="onApply();uncheckedAllCheckbox();onClick();clearTextFilters();clearFilters();tooglePillsDiv();return customSearch();" />
                                    
                                </div>
                                
                                <br/>
                                <br/>
                                
                                <div class="slds-grid">
                                    
                                    <div class="slds-col">
                                        <apex:outputPanel style="width:200px;">
                                            <apex:outputPanel >
                                                
                                                <button id="btnCountryStateTS" onclick="expandSection(this);" type="button" class="accordion slds-button slds-button--neutral" style=" outline: none !important;margin-bottom:20px;text-align:left;padding-left: 5px !important;">Contact Location</button>
                                                
                                                <div class="tooltip" id="btnCountryStateTSPanel" style="display:none;">
                                                    
                                                    <div class="tooltiptext">
                                                        <div id="header" class="div_header" >
                                                            <apex:outputPanel >
                                                                <apex:outputLabel styleClass="slds-text-body_regular" value="Contact Location" style="font-weight:bold;" />
                                                                <apex:commandLink styleClass="slds-text-link" value="Clear" style="float:right;" onclick="return uncheckedAllCheckbox('btnCountryStateTScontent');" />
                                                            </apex:outputPanel>
                                                        </div>
                                                        <div id="btnCountryStateTScontent" Style="background-color:white;overflow:auto;max-height: 200px;">
                                                            <c:Tree_New ts="{!countryStateTS}" layer="3" />
                                                        </div>
                                                        <div id="footer" class="div_header" style="text-align:center">
                                                            <apex:commandButton value="Apply"  onclick="onClick();createPillsForSelectedLocation('{!$Resource.rdcc__SLDS202}');toogleSelectedLocationDiv();return customSearch();"  styleClass="slds-button slds-button--neutral" />
                                                            <!--apex:commandButton value="Apply" rerender="results" action="{!runSearch}" onclick="hideExpandedAccordian();onClick();" oncomplete="overridePageMessages();onComplete();createPillsForSelectedLocation('{!$Resource.SLDS202}');toogleSelectedLocationDiv();resultTableProperties();changeSelected();" status="spinnerStatus" styleClass="slds-button slds-button--neutral" /-->
                                                            <input type="button" value="Close" class="btn slds-button slds-button--neutral" style="" onclick="hideExpandedAccordian();onClose('btnCountryStateTScontent','selectedLocationDiv');" oncomplete="resultTableProperties();" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </apex:outputPanel>
                                            
                                            <apex:outputPanel >
                                                <div id="typeDiv" style="display:{!IF(companyTypeTS.nodes.size == 0, 'none','block')}">
                                                    <button id="btnContactTypeTS" style="outline: none !important;margin-bottom:20px;text-align:left;padding-left: 5px !important;" class="slds-button slds-button--neutral accordion" onclick="expandSection(this);" type="button">Contact Type</button>
                                                    
                                                    <div class="tooltip" id="btnContactTypeTSPanel" style="display:none">
                                                        
                                                        <diV class="tooltiptext">
                                                            <div id="header" class="div_header" >
                                                                <apex:outputPanel >
                                                                    <apex:outputLabel styleClass="slds-text-body_regular" value="Contact Type" style="font-weight:bold;" />
                                                                    <apex:commandLink styleClass="slds-text-link" value="Clear" style="float:right;" onclick="return uncheckedAllCheckbox('btnContactTypeTScontent');" />
                                                                </apex:outputPanel>
                                                            </div>
                                                            <div id="btnContactTypeTScontent" Style="background-color:white;overflow:auto;max-height: 200px;">
                                                                <c:Tree_New ts="{!companyTypeTS}" layer="2" />
                                                            </div>
                                                            <div id="footer" class="div_header" style="text-align:center">
                                                                <apex:commandButton value="Apply" rerender="results" onclick="onClick();createPillsForSelectedType('{!$Resource.rdcc__SLDS202}');toogleSelectedTypeDiv();return customSearch();" styleClass="slds-button slds-button--neutral" />                                                
                                                                <!--apex:commandButton value="Apply" rerender="results" action="{!runSearch}" onclick="hideExpandedAccordian();onClick();" oncomplete="overridePageMessages();onComplete();createPillsForSelectedType('{!$Resource.SLDS202}');toogleSelectedTypeDiv();resultTableProperties();changeSelected();" styleClass="slds-button slds-button--neutral" /-->
                                                                <input type="button" value="Close" class="btn slds-button slds-button--neutral" style="" onclick="hideExpandedAccordian();onClose('btnContactTypeTScontent','selectedTypeDiv');" oncomplete="resultTableProperties();" />
                                                            </div>
                                                        </diV>
                                                    </div>
                                                </div>
                                            </apex:outputPanel>
                                            <apex:outputpanel >
                                                <button id="btnProjectEstValue" class="accordion slds-button slds-button--neutral" onclick="expandSectionBelow(this);" style="outline: none !important;text-align:left;padding-left: 5px !important;" type="button" >Open Project Value</button>
                                                <div class="panel" id="btnProjectEstValuePanel" style="display:none;border: 1px solid;border-color: #ddd;border-radius: 5px;">
                                                    <div style="float:right;margin-right:10px;">
                                                        <apex:commandLink value="Clear"  onclick="return clearProjectEstValue();"/>
                                                    </div>
                                                    <div>
                                                        <apex:outputLabel styleClass="slds-text-body_regular" for="frmLastUpdated" value="Min" style="margin-right: 30px;font-weight: bold;" />
                                                        <apex:inputText id="minProjectValue" label="Min" style="width:100%;margin-top: 5px;" styleClass="slds-input" />
                                                    </div>
                                                    <br/>
                                                    <div>
                                                        <apex:outputLabel styleClass="slds-text-body_regular" for="toLastUpdated" value="Max" style="margin-right: 30px;font-weight: bold;" />
                                                        <apex:inputText id="maxProjectValue"  label="Min" style="width:100%;margin-top: 5px;" styleClass="slds-input" />
                                                        
                                                    </div>
                                                    <br/>
                                                    
                                                    
                                                    <div id="errMsgEstValue" style="display:none;color:red">*Please provide value of atleast one field.<br/></div>
                                                    <div style="text-align:center">
                                                        <apex:commandButton value="Apply" rerender="results" onclick="return validateData('page:csLightForm:minProjectValue','page:csLightForm:maxProjectValue','errMsgEstValue','Estimated Value','{!$Resource.rdcc__SLDS202}');" status="spinnerStatus" styleClass="slds-button slds-button--neutral" style="margin-bottom: 5px;" />
                                                    </div>
                                                </div>
                                            </apex:outputpanel><br/><br/>
                                            <apex:outputpanel >
                                                <button id="btnMaterialDemandValue" class="accordion slds-button slds-button--neutral" onclick="expandSectionBelow(this);" style="outline: none !important;text-align:left;padding-left: 5px !important;" type="button" >Total Material Demand Value</button>
                                                <div class="panel" id="btnMaterialDemandValuePanel" style="display:none;border: 1px solid;border-color: #ddd;border-radius: 5px;">
                                                    <div style="float:right;margin-right:10px;">
                                                        <apex:commandLink value="Clear"  onclick="return clearMaterialDemandValue();"/>
                                                    </div>
                                                    <div>
                                                        <apex:outputLabel styleClass="slds-text-body_regular" for="minMaterialDemandValue" value="Min" style="margin-right: 30px;font-weight: bold;" />
                                                        <apex:inputText id="minMaterialDemandValue" label="Min" style="width:100%;margin-top: 5px;" styleClass="slds-input" />
                                                    </div>
                                                    <br/>
                                                    <div>
                                                        <apex:outputLabel styleClass="slds-text-body_regular" for="maxMaterialDemandtValue" value="Max" style="margin-right: 30px;font-weight: bold;" />
                                                        <apex:inputText id="maxMaterialDemandValue"  label="Min" style="width:100%;margin-top: 5px;" styleClass="slds-input" />
                                                        
                                                    </div>
                                                    <br/>
                                                    
                                                    
                                                    <div id="errMsgMaterialDemandValue" style="display:none;color:red">*Please provide value of atleast one field.<br/></div>
                                                    <div style="text-align:center">
                                                        <apex:commandButton value="Apply" rerender="results" onclick="return validateData('page:csLightForm:minMaterialDemandValue','page:csLightForm:maxMaterialDemandValue','errMsgMaterialDemandValue','MaterialDemandValue','{!$Resource.rdcc__SLDS202}');" status="spinnerStatus" styleClass="slds-button slds-button--neutral" style="margin-bottom: 5px;" />
                                                    </div>
                                                </div>
                                            </apex:outputpanel>
                                            
                                            <apex:outputPanel id="selectedLocationContainer">
                                                <div id="selectedLocationContainer" class="slds" style="display:none;width:200px">
                                                    <div id="header" class="selectedDivHeadr" style="background-color:#f7f9fb;padding-left: 15px;">
                                                        <p>
                                                            Contact Location
                                                        </p>
                                                    </div>
                                                    <div id="selectedLocationDiv" class="selectedDiv" Style="border:1px solid #dddddd;background-color:white;overflow:auto;max-height: 200px;white-space: initial;" />
                                                    
                                                    
                                                    
                                                </div>
                                            </apex:outputPanel>
                                            <br/>
                                            
                                            
                                            <apex:outputPanel id="selectedTypeContainer">
                                                <div id="selectedTypeContainer" class="slds" style="display:none;width:200px">
                                                    <div id="header" class="selectedDivHeadr" style="background-color:#f7f9fb;padding-left: 15px">
                                                        <p>
                                                            Contact Type
                                                        </p>
                                                    </div>
                                                    <div id="selectedTypeDiv" class="selectedDiv" Style="border:1px solid #dddddd;background-color:white;overflow:auto;max-height: 200px; white-space: initial;" />
                                                    
                                                    
                                                    
                                                </div>
                                            </apex:outputPanel>
                                            <br/>
                                            <div id="selectedEstValueContainer" class="slds" style="display:none;width:200px;">
                                                <div id="header" class="selectedDivHeadr" style="background-color: #f7f9fb;padding-left: 15px;"> 
                                                    <p>
                                                        Open Project Value
                                                    </p>
                                                </div>                                      
                                                <div id="selectedEstValueDiv" class="panel2 selectedDiv" /> 
                                            </div>
                                            <br/>
                                            <div id="selectedMaterialDemandContainer" class="slds" style="display:none;width:200px;">
                                                <div id="header" class="selectedDivHeadr" style="background-color: #f7f9fb;padding-left: 15px;"> 
                                                    <p>
                                                        Total Material Demand Value
                                                    </p>
                                                </div>                                      
                                                <div id="selectedMaterialDemandDiv" class="panel2 selectedDiv" /> 
                                            </div><br/>
                                        </apex:outputPanel>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </apex:outputPanel>
                            
                            
                            
                            
                            
                            <td valign="top"  onclick="hideExpandedAccordian();" id="searchSection1">
                                
                                
                                <apex:outputPanel >
                                    <div style="margin:20px;">
                                        <apex:inputText styleClass="slds-input" html-placeholder="Enter Search Text..." id="searchText" onkeydown="if (event.keyCode == 13){event.preventDefault();this.nextSibling.click()}" style="width:70%; margin-right:5px;" />
                                        
                                        <apex:commandButton id="btnSearch"  onclick="onClick();return customSearch();" status="spinnerStatus" rerender="results,debug,errors" style="height: 30px;border-radius:.250 rem;outline:none;padding:1px 2px;" value="Search!" image="{!URLFOR($Resource.rdcc__SLDS202, '/assets/icons/utility/search_60.png')}" styleClass="slds-button slds-button--neutral" />
                                        
                                        
                                    </div>
                                    
                                    <apex:outputPanel id="results">
                                        <apex:outputPanel >
                                            <table id="resultTable" class="slds-table slds-table--bordered slds-table--cell-buffer">
                                                <thead>
                                                    <tr class="slds-text-title--caps" style="line-height: 2rem;">
                                                        <apex:variable value="{!1}" var="count"/>
                                                        <th id="0" style="display:none;">&nbsp;</th>
                                                        <apex:repeat value="{!selectedFields}" var="f">
                                                            <th id="{!count}" onclick="getOrdering(this);" class="slds-is-sortable slds-is-resizable slds-text-title--caps slds-is-sorted slds-is-sorted--asc" aria-sort="ascending" scope="col" style="border:none">{!f.Label}
                                                                <apex:outputPanel rendered="{!IF(OR(insConFieldApiNameTypeMap[f.value] == 'DATE',insConFieldApiNameTypeMap[f.value] == 'DATETIME'),true,false)}">
                                                                    <apex:variable value="{!(count+1)}" var="count"/>  
                                                                    <input type="hidden" id="{!count}"  class="dateHeader" />
                                                                    <th id="{!count}">dummyDate</th>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel rendered="{!IF(insConFieldApiNameTypeMap[f.value]=='CURRENCY',true,false)}">
                                                                    <apex:variable value="{!(count+1)}" var="count"/>  
                                                                    <input type="hidden" id="{!count}"  class="currencyHeader" />
                                                                    <th id="{!count}">dummyCurrency</th>
                                                                </apex:outputPanel>
                                                            </th>
                                                            <apex:variable value="{!(count+1)}" var="count"/>
                                                        </apex:repeat>
                                                    </tr>
                                                </thead>
                                                <tbody style="border-bottom: 2px solid;border-bottom-color: #d8dde6;">
                                                    <apex:repeat value="{!contactList}" var="contact">
                                                        <tr class="slds-text-title--caps">
                                                            
                                                            <td style="display:none;">&nbsp;</td>
                                                            <apex:repeat value="{!selectedFields}" var="s">
                                                                <td>
                                                                    <div style="word-wrap: break-word;max-width: 175px;">
                                                                    <apex:outputPanel styleClass="slds-text-body_regular" rendered="{!IF(OR(insConFieldApiNameTypeMap[s.value] == 'DATE',insConFieldApiNameTypeMap[s.value] == 'DATETIME'),true,false)}">
                                                                        <apex:outputField value="{!contact[s.value]}"/>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!IF(insConFieldApiNameTypeMap[s.value]=='CURRENCY',true,false)}">
                                                                        <apex:outputField value="{!contact[s.value]}"/>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!IF(s.value=='Name',true,false)}">
                                                                        <a class="slds-text-link" href="javascript:void(0);" onclick="openCustomURL('/{!contact.Id}','{!contact.Id}');">{!contact.rdcc__First_Name__c} {!contact.rdcc__Last_Name__c}</a>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!IF(insConFieldApiNameTypeMap[s.value]=='REFERENCE',true,false)}">
                                                                        <a class="slds-text-link" href="/{!contact[s.value]}" >{!contact[insConLkpFieldsMap[s.value]]}</a>
                                                                    </apex:outputPanel>
                                                                    
                                                                    <apex:outputText styleClass="slds-text-body_regular" value="{!contact[s.value]}" rendered="{!IF(insConFieldApiNameTypeMap[s.value]!='REFERENCE' && s.value!='Name' && insConFieldApiNameTypeMap[s.value]!='DATE' && insConFieldApiNameTypeMap[s.value]!='DATETIME' && insConFieldApiNameTypeMap[s.value]!='CURRENCY',true,false)}" />
                                                                    
                                                                    <apex:outputPanel rendered="{!IF(OR(insConFieldApiNameTypeMap[s.value] == 'DATE',insConFieldApiNameTypeMap[s.value] == 'DATETIME'),true,false)}">
                                                                        <td>
                                                                            <apex:outputText value="{0, date, yyyy'/'MM'/'dd}">
                                                                                <apex:param value="{!contact[s.value]}" />
                                                                            </apex:outputText>
                                                                        </td>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!IF(insConFieldApiNameTypeMap[s.value]=='CURRENCY',true,false)}">
                                                                        <td>{!contact[s.value]}</td>
                                                                    </apex:outputPanel>
                                                                    </div>
                                                                </td>
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                            <table ><tr>
                                                
                                                <td>
                                                    Showing page: <apex:outputText value=" {!IF(CEILING(setCon.ResultSize / setCon.PageSize)  == 0,'0',setCon.PageNumber)} of {! CEILING(setCon.ResultSize / setCon.PageSize) }"/>
                                                </td>            
                                                
                                                <td align="center">
                                                    <div style="text-align: center;">
                                                        Display:&nbsp;&nbsp;
                                                        <apex:selectList value="{!setCon.PageSize}" size="1">
                                                            <apex:selectOption itemValue="10" itemLabel="10"/>
                                                            <apex:selectOption itemValue="20" itemLabel="20"/>
                                                            <apex:selectOption itemValue="50" itemLabel="50"/>
                                                            <apex:selectOption itemValue="100" itemLabel="100"/>
                                                            <apex:actionSupport event="onchange" onsubmit="onClick();"  oncomplete="resultTableProperties();onComplete();" reRender="results"/>
                                                        </apex:selectList>
                                                    </div>
                                                </td>
                                                
                                                <td align="right">
                                                    <div style="float:right">
                                                        <apex:commandLink reRender="results"
                                                                          status="spinnerStatus" action="{!setCon.first }"  value="<<" title="First Page"
                                                                          rendered="{!setCon.PageNumber != 1 }" onclick="onClick();" oncomplete="resultTableProperties();onComplete();"/>
                                                        
                                                        <apex:outputText style="color: #ccc;" value="<<"
                                                                         rendered="{!setCon.PageNumber == 1 }"/>
                                                        
                                                        &nbsp; 
                                                        <apex:commandLink reRender="results"
                                                                          status="spinnerStatus" action="{!setCon.Previous }" value="< Previous"
                                                                          rendered="{!setCon.HasPrevious }" title="Previous Page" onclick="onClick();" oncomplete="resultTableProperties();onComplete();"/>
                                                        
                                                        <apex:outputText style="color: #ccc;" value="< Previous"
                                                                         rendered="{! NOT(setCon.HasPrevious) }"/>
                                                        
                                                        
                                                        &nbsp;&nbsp;

                                                        <apex:commandLink reRender="results" status="spinnerStatus"  action="{!setCon.Next }" value="Next >"
                                                                          rendered="{! setCon.HasNext }" title="Next Page" onclick="onClick();" oncomplete="resultTableProperties();onComplete();"/>                                      
                                                        <apex:outputText style="color: #ccc;" value="Next >"
                                                                         rendered="{! NOT(setCon.HasNext) }"/>
                                                        &nbsp;
                                                        <apex:commandLink reRender="results"
                                                                          status="spinnerStatus" action="{!setCon.last }" value=">>" title="Last Page"
                                                                          rendered="{!setCon.HasNext}" onclick="onClick();" oncomplete="resultTableProperties();onComplete();"/>
                                                        
                                                        <apex:outputText style="color: #ccc;" value=">>"
                                                                         rendered="{! NOT(setCon.HasNext) }"/>
                                                    </div>
                                                </td>                                    
                                                </tr></table>
                                        </apex:outputPanel>
                                        <script>
                                        
                                        function openCustomURL(url,windowName){
                                            if(typeof myWindowLight === 'undefined' || myWindowLight.closed) 
                                                myWindowLight = window.open(url,windowName);
                                            else{
                                                myWindowLight.location.href = url;
                                                myWindowLight.focus();
                                            } 
                                        }
                                        
                                        
                                        
                                        </script>
                                    </apex:outputPanel>
                                </apex:outputpanel>
                        </td>
                    </td>
            </tr>
        </table>
        
    </apex:form>
    <apex:form styleClass="slds">
        
        
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            
            <!--apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" /-->
            <div id="ModalId" style="display:none">
                
                
                <div role="dialog" id="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-spinner_container" id="loadingOpp" style="display:none;">
                            
                            <div role="status" class="slds-spinner slds-spinner--medium">
                                <span class="slds-assistive-text">Loading</span>
                                <div class="slds-spinner__dot-a"></div>
                                <div class="slds-spinner__dot-b"></div>
                            </div>
                            
                        </div>
                        <div class="slds-modal__header">
                            <div id="msgDivOpp" style="display:none;margin-left:20px; margin-right:20px;">
                                <apex:pageMessages id="errorsOpp"></apex:pageMessages>
                            </div>
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">
                            
                            <div style="height:Auto;">
                                <c:MultiselectComponent id="columns" leftLabel="Available Fields" leftOption="{!availableFields}" rightLabel="Selected Fields" rightOption="{!selectedFields}" execeuteAdditionalCriteria="true" size="8" width="200px" />
                            </div>
                        </div>
                        <div class="slds-modal__footer">
                            <apex:commandButton value="Save" action="{!updateMyColumOnCurrentUserRecord}" onclick="onClickOpp();" oncomplete="resultTableProperties();toggleDisplayModel('ModalId');onCompleteOpp();hideErrMsg();" reRender="results" style="width: 70px;margin-left: 10px;" styleClass="slds-button slds-button--neutral" />
                            <apex:commandButton value="Cancel" onclick="hideErrMsg();return toggleDisplayModel('ModalId');" style="width: 70px;margin-left: 10px;" styleClass="slds-button slds-button--neutral" />
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
            
            
        </html>
        
    </apex:form>
    
</html>
</div>


</apex:page>