<apex:page controller="sma.MAArcGisConnectorConfigController" setup="false" showHeader="true" sidebar="false" extensions="sma.MARemoteFunctions">
    <apex:slds />
    <!--[if lte IE 9]>
        <script type='text/javascript'>window.location = '/apex/Oops?type=UnsupportedBrowser';</script>
    <![endif]-->

    <!-- <link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.MapAnythingJS, 'styles/css/salesforce-lightning-design-system-2.4.6_scoped.min.css')}" /> -->

    <apex:slds />
    <!-- MapAnything Configuration Page Styling -->
    <apex:stylesheet value="{!URLFOR($Resource.sma__MapAnythingJS, 'styles/css/ma-configuration-ui.css')}"/>
    <!-- icon-font -->
    <apex:stylesheet value="{!URLFOR($Resource.sma__MapAnythingJS, 'styles/styles.css')}"/>
    
    <script>
        // polyfill remove function for IE
        (function() {
            function remove() { this.parentNode && this.parentNode.removeChild(this); }
            if (!Element.prototype.remove) Element.prototype.remove = remove;
            if (Text && !Text.prototype.remove) Text.prototype.remove = remove;
        })();

        // Browser support + polyfill
        if (!!navigator.userAgent.match(/Trident.*rv\:11\./)) {
            console.log('detected IE11 ... loading polyfills');
            var head = document.getElementsByTagName('head')[0] || document.body;
            var script = document.createElement('script');
            script.src = "{!URLFOR($Resource.MapAnything, 'js/polyfill.min.js')}";
            head.appendChild(script);
        } else if (!!navigator.userAgent.match(/MSIE 10.0.*/)) {
            window.location = '/apex/Oops?type=UnsupportedBrowser';
        }

        var MARemoting = {
            processAJAXRequest : '{!$RemoteAction.MARemoteFunctions.processAJAXRequest}'
        };
    </script>

    <div class="slds-scope">
        <div class="slds-brand-band slds-brand-band_cover slds-brand-band_medium slds-p-around_medium">
            <div class="flex-column full-height">
                <!-- Header -->
                <div class="slds-scope">
                    <div class="slds-page-header slds-has-bottom-magnet">
                        <div class="slds-grid">
                            <div class="slds-col slds-has-flexi-truncate">
                                <div class="slds-media slds-no-space slds-grow">
                                    <div class="slds-media__figure ma-slds-media__figure">
                                        <span class="slds-icon ma-icon ma-icon-mapanything"></span>
                                    </div>
                                    <div class="slds-media__body">
                                        <p class="slds-text-title--caps slds-line-height--reset">MapAnything</p>
                                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="ArcGIS Connector Configuration">ArcGIS Connector Configuration</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ma-select" id="dropdowns"></div>
                    <div id="tooltips"></div>
                </div>

                <div class="flex-grow-1 flex-row">
                    <div class="flex-shrink-0">
                        <c:MAAdminHeader activeTab="arcGisConnector" />
                    </div>

                    <div class="flex-grow-1 slds-p-around_medium">
                        <div class="slds-scope">
                            <div id="ma-vue-root"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link type="text/css" rel="stylesheet" href="{!resourcePaths['MapAnythingJS']}/dist/admin/arc-gis-connector/styles.css" />
    <script type='text/javascript' src="{!URLFOR($Resource.MapAnything, 'js/jquery-2.2.4.min.js')}"></script>
    <c:MA />
    <script type="text/javascript" src="{!resourcePaths['MapAnythingJS']}/dist/admin/arc-gis-connector/bundle.js"></script>
</apex:page>