<apex:page sidebar="false" controller="sma.MAAutoAssignmentController" showHeader="true" setup="false" >
    <apex:slds />
    <!-- <link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.MapAnythingJS, 'styles/css/salesforce-lightning-design-system-2.4.6_scoped.min.css')}" /> -->
    <link type="text/css" rel="stylesheet" href="{!resourcePath.path}/styles.css" />

    <!-- MapAnything Configuration Page Styling -->
    <apex:stylesheet value="{!URLFOR($Resource.sma__MapAnythingJS, 'styles/css/ma-configuration-ui.css')}"/>

    <script type="text/javascript">
        if (!!navigator.userAgent.match(/Trident.*rv\:11\./)) {
            console.log('detected IE11 ... loading polyfills');
            var head = document.getElementsByTagName('head')[0] || document.body;
            var script = document.createElement('script');
            script.src = "{!URLFOR($Resource.MapAnything, 'js/polyfill.min.js')}";
            head.appendChild(script);
        } else if (!!navigator.userAgent.match(/MSIE 10.0.*/)) {
            window.location = '/apex/Oops?type=UnsupportedBrowser';
        }
        // polyfill remove function for IE
        (function() {
            function remove() { this.parentNode && this.parentNode.removeChild(this); }
            if (!Element.prototype.remove) Element.prototype.remove = remove;
            if (Text && !Text.prototype.remove) Text.prototype.remove = remove;
        })();
    </script>

    <div class="slds-scope">
        <div class="slds-brand-band slds-brand-band_cover slds-brand-band_medium slds-p-around_medium">
            <div class="flex-column full-height">
                <!-- Header -->
                <div class="slds-scope">
                    <div class="slds-page-header slds-has-bottom-magnet">
                        <div class="slds-grid">
                            <div class="slds-col slds-has-flexi-truncate">
                                <div class="slds-media slds-no-space slds-grow">
                                    <div class="slds-media__figure ma-slds-media__figure">
                                        <span class="slds-icon ma-icon ma-icon-mapanything"></span>
                                    </div>
                                    <div class="slds-media__body">
                                        <p class="slds-text-title--caps slds-line-height--reset">MapAnything</p>
                                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="Auto Assignment">Auto Assignment</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ma-select" id="dropdowns"></div>
                    <div id="tooltips"></div>
                </div>

                <div class="flex-grow-1 flex-row">
                    <div class="flex-shrink-0"> 
                        <c:MAAdminHeader activeTab="autoAssign" />
                    </div>

                    <div class="flex-grow-1" style="padding: 15px;">
                        <div class="slds-scope">
                            <div id="main"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{!resourcePath.path}/dist/bundle.js"></script>

    <script>
        MA.Bootstrap({
            "baseUrl": "{!resourcePath.path}",
            "planPermissions": {!planPermissionsJSON},
            "rulePermissions": {!rulePermissionsJSON}
        });
    </script>

</apex:page>