<!--THIS PAGE HAS BEEN REPURPOSED TO HANDLE KML EXPORTS DO NOT CHANGE -->
<apex:page cache="true" contentType="application/octet-stream#MapAnything_Export.kml" controller="sma.MAExportAJAXResources" action="{!StartUpAction}" showHeader="false" sidebar="false" standardStylesheets="false">
<apex:outputText value="{!Output}"/>
</apex:page>