<apex:page sidebar="false" setup="false" controller="sma.MADataLayers" title="MapAnything Data Layer Settings" extensions="sma.MARemoteFunctions,sma.MAAdminAJAXResources">
    <apex:slds />
    <script type='text/javascript' src="{!URLFOR($Resource.MapAnything, 'js/jquery-2.2.4.min.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.MapAnything, 'toastr/toastr.min.js')}"></script>
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.MapAnything, 'toastr/toastr.min.css')}"></link>
    <script type="text/javascript">
        if (!!navigator.userAgent.match(/Trident.*rv\:11\./)) {
            console.log('detected IE11 ... loading polyfills');
            var head = document.getElementsByTagName('head')[0] || document.body;
            var script = document.createElement('script');
            script.src = "{!URLFOR($Resource.MapAnything, 'js/polyfill.min.js')}";
            head.appendChild(script);
        } else if (!!navigator.userAgent.match(/MSIE 10.0.*/)) {
            window.location = '/apex/Oops?type=UnsupportedBrowser';
        }
        // polyfill remove function for IE
        (function() {
            function remove() { this.parentNode && this.parentNode.removeChild(this); }
            if (!Element.prototype.remove) Element.prototype.remove = remove;
            if (Text && !Text.prototype.remove) Text.prototype.remove = remove;
        })();
    </script>
    <c:MA />
    <script>
        var MARemoting = { 
            processAJAXRequest : '{!$RemoteAction.MARemoteFunctions.processAJAXRequest}',
            processAJAXRequestReadOnly : '{!$RemoteAction.MARemoteFunctions.processAJAXRequestReadOnly}',
            MapAnythingIORequest : '{!$RemoteAction.MARemoteFunctions.MapAnythingIORequest}',
            MapAnythingIORequestPOST : '{!$RemoteAction.MARemoteFunctions.MapAnythingIORequestPOST}',
            getSavedData: '{!$RemoteAction.MADataLayers.getDataV2}',
            saveDataLayer: '{!$RemoteAction.MADataLayers.doSaveV2}',
            AdminStartUpAction: '{!$RemoteAction.MAAdminAJAXResources.AdminStartUpAction}' 
        }; 
        var MAInfo = {
            Organization_Id : "{!$Organization.Id}"
        };

        function getProperty(obj, prop, removeWorkspace)
        {
            prop = prop || '';

            if(removeWorkspace !== false)
            {
                //needed when working in our packaging org(s)
                if ( MA.Namespace == 'sma')
                {
                    obj = MA.Util.removeNamespace(obj,'sma__');

                    //remove from string prop as well
                    prop = prop.replace(/sma__/g,'');
                }
            }

            var arr = prop.split(".");
            while(arr.length && (obj = obj[arr.shift()]));
            return obj;
        }

        toastr.options = {
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "iconClasses" : {
                "success" : "toast-success",
                "error"   : "toast-error",
                "warning" : "toast-warning",
                "info"    : "toast-info"
            }
        };

        var MAToastMessages = {
            showMessage : function(options,type) {
                type = type || 'info';
                options = $.extend({
                    message : '',
                    subMessage : '',
                    timeOut : 3000,
                    extendedTimeOut : 1000,
                    position : 'toast-bottom-right',
                    closeButton : false,
                    onclick : null
                }, options || {});

                toastr.options.timeOut = options.timeOut;
                toastr.options.extendedTimeOut = options.extendedTimeOut;
                toastr.options.positionClass = options.position;
                toastr.options.closeButton = options.closeButton;
                toastr.options.onclick = options.onclick;

                if(type === 'loading') {
                    var $message = toastr['info'](options.subMessage,options.message);
                    $message.addClass('ma-toast-loading').removeClass('toast-info');
                    return $message;
                }
                else {
                    return toastr[type](options.subMessage,options.message);
                }


            },
            showSuccess : function(options) {
                return MAToastMessages.showMessage(options,'success');
            },
            showLoading : function(options) {
                return MAToastMessages.showMessage(options,'loading');
            },
            showWarning : function(options) {
                return MAToastMessages.showMessage(options,'warning');
            },
            showError : function(options) {
                return MAToastMessages.showMessage(options,'error');
            },
            hideMessage : function (toast) {
                toastr.clear(toast);
                toast.remove();
                toast = null;
            }
        } 
    </script>
    <!-- icon-font --> 
    <apex:stylesheet value="{!URLFOR($Resource.sma__MapAnythingJS, 'styles/styles.css')}"/>

    <!-- MapAnything Configuration Page Styling -->
    <apex:stylesheet value="{!URLFOR($Resource.sma__MapAnythingJS, 'styles/css/ma-configuration-ui.css')}"/>

    <div class="slds-scope">
        <div class="slds-brand-band slds-brand-band_cover slds-brand-band_medium slds-p-around_medium">
            <div class="flex-column full-height">
                <!-- Header -->
                <div class="slds-scope">
                    <div class="slds-page-header slds-has-bottom-magnet">
                        <div class="slds-grid">
                            <div class="slds-col slds-has-flexi-truncate">
                                <div class="slds-media slds-no-space slds-grow">
                                    <div class="slds-media__figure ma-slds-media__figure">
                                        <span class="slds-icon ma-icon ma-icon-mapanything"></span>
                                    </div>
                                    <div class="slds-media__body">
                                        <p class="slds-text-title--caps slds-line-height--reset">MapAnything</p>
                                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Data Layer Configuration</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div> 

                <div class="flex-row flex-grow-1">
                    <div class="flex-shrink-0"> 
                        <!--navigation-->
                        <c:MAAdminHeader activeTab="dataLayers" />
                    </div>
                    <div class="flex-grow-1">
                        <div id="ma-vue-root"></div>
                        <link type="text/css" rel="stylesheet" href="{!resourcePaths['MapAnythingJS']}/dist/admin/data-layers/styles.css" />
                        <script type="text/javascript" src="{!resourcePaths['MapAnythingJS']}/dist/admin/data-layers/bundle.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</apex:page>