.THIS {
    background-color: white;
}

.THIS .sub_title{
    font-size: 1rem;
    line-heigth: 2rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #f4f6f9;
}

.THIS.componentHeader {
    position: fixed;
    width: 98%;
    left: 1.25%;
    /*top: 7.3rem;*/
    z-index: 1;
    background-color: rgb(255, 255, 255);
    margin: 0rem 0;
}

.THIS .required{
    float: left;
    padding-right: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700;
}

.THIS .iconProperty{
    fill: darkred;
}

.THIS .slds-checkbox [type=checkbox]:checked .slds-checkbox__label .slds-checkbox--faux:after {
    /*fill: rgb(142, 60, 60);*/
    color: rgb(142, 60, 60) !important;
    border-color : rgb(142, 60, 60) !important;
}

@media screen and (max-width: 1024px) {
    .THIS.componentHeader {
        position: fixed;
        /*width: 98%;*/
        left: 1%;
        /*top: 1rem;*/
        padding: 0px 2px;
        background-color: rgb(255, 255, 255);
    }
    
    .THIS .fontproperty{
        /*background-color: #f3f2f2;*/
        font-size: 10px;
    }
    
    .THIS .iconProperty{
        fill: darkred;
    }

}

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
    .THIS .fontproperty {
        font-size: 11px;
    }
}